<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                    	<div class="card m-t-0">
                    		<div class="card-content">
	                            <div class="select-head">
	                                <span class="hed"> Selected filter </span> | <span class="clar-filter"> Clear Filter </span>
	                            </div>
	                            <ul class="slctd-fltrli" type="none">
	                                <li> Rejected <span> <i class="fa fa-times"></i> </span> </li>
	                                <li> Draft <span> <i class="fa fa-times"></i> </span> </li>
	                                <li> News <span> <i class="fa fa-times"></i> </span> </li>
	                                <li> Revision <span> <i class="fa fa-times"></i> </span> </li>
	                            </ul>
                          	</div>
                        </div>
                        <div class="card" > 
                            <div class="card-header card-header-icon" data-background-color="orange">
                                <i class="material-icons">description</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">View Content</h4>
                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-12"></div>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <md-select placeholder="Choose State">
                                                <md-option value="1"> State1 </md-option>
                                                <md-option value="2"> State2 </md-option>
                                                <md-option value="3"> State3 </md-option>
                                                <md-option value="4"> State4 </md-option>
                                                <md-option value="5"> State5 </md-option>
                                                <md-option value="6"> State6 </md-option>
                                                <md-option value="7"> State7 </md-option>
                                                <md-option value="8"> State8 </md-option>
                                                <md-option value="9"> State9 </md-option>
                                                <md-option value="10"> State10 </md-option>
                                                <md-option value="11"> State11 </md-option>
                                                <md-option value="12"> State12 </md-option>
                                                <md-option value="13"> State13 </md-option>
                                                <md-option value="14"> State14 </md-option>
                                                <md-option value="15"> State15 </md-option>
                                                <md-option value="16"> State16 </md-option>
                                                <md-option value="17"> State17 </md-option>
                                                <md-option value="18"> State18 </md-option>
                                                <md-option value="19"> State19 </md-option>
                                                <md-option value="20"> State20 </md-option>
                                                <md-option value="21"> State21 </md-option>
                                                <md-option value="22"> State22 </md-option>
                                            </md-select>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <md-select placeholder="Choose Language">
                                                <md-option value="1">  Hindi </md-option>
                                                <md-option value="2">  Marathi </md-option>
                                                <md-option value="3">  Assamese </md-option>
                                                <md-option value="4">  Bengali </md-option>
                                                <md-option value="5">  Dogri </md-option>
                                                <md-option value="6">  Gujarati </md-option>
                                                <md-option value="7">  Punjabi </md-option>
                                                <md-option value="8">  Bodo </md-option>
                                                <md-option value="9">  Kannada </md-option>
                                                <md-option value="10"> Kashmiri </md-option>
                                                <md-option value="11"> Urdu </md-option>
                                                <md-option value="12"> Telegu </md-option>
                                                <md-option value="13"> Konkani </md-option>
                                                <md-option value="14"> Malayalam </md-option>
                                                <md-option value="15"> Manipuri or Meithei </md-option>
                                                <md-option value="16"> English </md-option>
                                                <md-option value="17"> Nepali </md-option>
                                                <md-option value="18"> Oriya </md-option>
                                                <md-option value="19"> Sanskrit </md-option>
                                                <md-option value="20"> Santali </md-option>
                                                <md-option value="21"> Sindhi </md-option>
                                                <md-option value="22"> Tamil </md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                    	<a class="btn btn-round btn-md btn-disabled btn-warning" (click)="openDialog()">Shortlist to homepage</a>
                                    	<a class="btn btn-round btn-md btn-disabled btn-success" (click)="openDialog()">Shortlist to category</a>
                                    	<a class="btn btn-round btn-md btn-disabled btn-danger">Delete</a>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <md-select placeholder="Items Per Page">
                                                <md-option value="1"> 25 </md-option>
                                                <md-option value="2"> 50 </md-option>
                                                <md-option value="3"> 100 </md-option>
                                                <md-option value="4"> 200 </md-option>
                                                <md-option value="4"> All </md-option>
                                            </md-select>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <md-select placeholder="Time Range">
                                                <md-option value="1"> 7d </md-option>
                                                <md-option value="2"> 15d </md-option>
                                                <md-option value="3"> 1m </md-option>
                                                <md-option value="4"> 3m </md-option>
                                                <md-option value="4"> 6m </md-option>
                                                <md-option value="4"> 1y </md-option>
                                                <md-option value="4"> all </md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="dshbrd-table table-responsive">
                                        <table class="table table-striped view-content-table font12" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">    
                                            <thead class="text-danger">
                                                <tr>
                                                    <th>  </th>
                                                    <th> Content Item </th>
                                                    <th> Date </th>
                                                    <th colspan="5"> User Engagement </th>
                                                    <th colspan="4"> Call To Action </th>
                                                    <th> Page View </th>
                                                </tr>
                                                <tr>
                                                    <th> </th>
                                                    <th> </th>
                                                    <th> </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Kadak" class="tltip_ico">
                                                            <mfDefaultSorter by="thumb"> <i class="icon-okay"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Share" class="tltip_ico">
                                                            <mfDefaultSorter by="share"> <i class="fa fa-share-alt"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Comment" class="tltip_ico">
                                                            <mfDefaultSorter by="comment"> <i class="icon-msg"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Save" class="tltip_ico">
                                                            <mfDefaultSorter by="square"> <i class="icon-badge"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Download" class="tltip_ico">
                                                            <mfDefaultSorter by="download"> <i class="icon-donload"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Apply" class="tltip_ico">
                                                            <mfDefaultSorter by="text"> <i class="icon-check"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Call" class="tltip_ico">
                                                            <mfDefaultSorter by="phone"> <i class="icon-call"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Call Me Back" class="tltip_ico">
                                                            <mfDefaultSorter by="volume"> <i class="icon-callme"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="I'm Interested" class="tltip_ico">
                                                            <mfDefaultSorter by="check"> <i class="icon-click"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>  </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="vertical-top">
                                                        <md-checkbox></md-checkbox>
                                                    </td>
                                                    <td class="td-wdth282 text-left">
                                                        <div class="cont-img">
                                                            <img src="./assets/img/placeholder5.png" class="img-responsive" />
                                                            <div>
                                                                Status: <span class="text-success"><b>Approved</b></span>
                                                            </div>
                                                        </div>
                                                        <div class="cont-dtl">
                                                            <div> Vishwanthan Anand finshes joint eighth in St.Louis Rapid Chess tournament </div>
                                                            <div> <strong> Posted by: </strong> Rohan Sen </div>
                                                            <div class=""> 
                                                                <a href="javascript:;">
                                                                    News | <span class="dark_ylw">Sports News</span>
                                                                </a>
                                                            </div>
                                                            <div class="m-t-5"> 
                                                                <a href="javascript:;" class="text-success"> <i class="fa fa-eye"></i> View </a> |
                                                                <a href="javascript:;" class="text-danger"> <i class="fa fa-pencil"></i> Edit </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="td-wdth155 text-left">
                                                        <p> <strong> Published </strong> /Rejected: 16/08/2017 </p>
                                                        <p> Creation: 16/08/2017 </p>
                                                        <p> Submit for Review: <strong> 16/08/2017 </strong> </p>
                                                    </td>
                                                    <td> 1,00,000 </td> <td> 5,00,000 </td> <td> 60,000 </td> <td> 
                                                    2,000 </td> <td> 8,55,070 </td>
                                                    <td> 1,00,000 </td> <td> 48,000 </td> <td> 40,024 </td> <td> 5,00,000 </td> 
                                                    <td>10,00,000 </td>

                                                </tr>
                                                
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="14">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                        <!-- <table class="table">
                                        	<thead class="text-danger">
                                                <tr>
                                                    <th>  </th>
                                                    <th> Content </th>
                                                    <th> Date </th>
                                                    <th colspan="5"> User engagement buttons </th>
                                                    <th colspan="4"> Call to action buttons </th>
                                                    <th> Page View </th>
                                                </tr>
                                                <tr>
                                                    <th> </th>
                                                    <th> </th>
                                                    <th> </th>
                                                    <th><i class="fa fa-thumbs-up"></i> </th>
                                                    <th><i class="fa fa-share"></i> </th>
                                                    <th><i class="fa fa-comment"></i> </th>
                                                    <th><i class="fa fa-check-square"></i> </th>
                                                    <th><i class="fa fa-cloud-download"></i> </th>
                                                    <th><i class="fa fa-file-text"></i> </th>
                                                    <th><i class="fa fa-phone-square"></i> </th>
                                                    <th><i class="fa fa-volume-control-phone"></i> </th>
                                                    <th><i class="fa fa-check-square-o"></i> </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                    	<md-checkbox></md-checkbox>
                                            		</td>
                                                    <td class="text-left">
                                                        <div class="cont-img">
                                                            <img src="./assets/img/placeholder5.png" class="img-responsive" />
                                                        </div>
                                                        <div class="cont-dtl">
                                                            <p> Vishwanthan Anand finshes joint eighth in St.Louis Rapid Chess tournament </p>
                                                            <p> <strong> Posted by: </strong> Rohan Sen </p>
                                                            <div class="m-t-5"> 
                                                                <a href="javascript:;"> <i class="fa fa-eye"></i> View </a> |
                                                                <a href="javascript:;"> <i class="fa fa-pencil"></i> Edit </a>
                                                            </div>
                                                            <div class=""> 
                                                                <a href="javascript:;">
                                                                    News | <span class="dark_ylw">Sports News</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p> <strong> Published </strong> /Rejected: 16/08/2017 </p>
                                                        <p> Creation: 16/08/2017 </p>
                                                        <p> Submit for Review: <strong> 16/08/2017 </strong> </p>
                                                    </td>
                                                    <td> 500 </td> <td> 100 </td> <td> 50 </td> <td> 40 </td> <td> 20 </td>
                                                    <td> 100 </td> <td> 30 </td> <td> 40 </td> <td> 500 </td> 
                                                    <td>300 </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <md-checkbox></md-checkbox>
                                                    </td>
                                                    <td class="text-left">
                                                        <div class="cont-img">
                                                            <img src="./assets/img/placeholder5.png" class="img-responsive" />
                                                        </div>
                                                        <div class="cont-dtl">
                                                            <p> Vishwanthan Anand finshes joint eighth in St.Louis Rapid Chess tournament </p>
                                                            <p> <strong> Posted by: </strong> Rohan Sen </p>
                                                            <div class="m-t-5"> 
                                                                <a href="javascript:;"> <i class="fa fa-eye"></i> View </a> |
                                                                <a href="javascript:;"> <i class="fa fa-pencil"></i> Edit </a>
                                                            </div>
                                                            <div class=""> 
                                                                <a href="javascript:;">
                                                                    News | <span class="dark_ylw">Sports News</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p> <strong> Published </strong> /Rejected: 16/08/2017 </p>
                                                        <p> Creation: 16/08/2017 </p>
                                                        <p> Submit for Review: <strong> 16/08/2017 </strong> </p>
                                                    </td>
                                                    <td> 500 </td> <td> 100 </td> <td> 50 </td> <td> 40 </td> <td> 20 </td>
                                                    <td> 100 </td> <td> 30 </td> <td> 40 </td> <td> 500 </td> 
                                                    <td>300 </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <md-checkbox></md-checkbox>
                                                    </td>
                                                    <td class="text-left">
                                                        <div class="cont-img">
                                                            <img src="./assets/img/placeholder5.png" class="img-responsive" />
                                                        </div>
                                                        <div class="cont-dtl">
                                                            <p> Vishwanthan Anand finshes joint eighth in St.Louis Rapid Chess tournament </p>
                                                            <p> <strong> Posted by: </strong> Rohan Sen </p>
                                                            <div class="m-t-5"> 
                                                                <a href="javascript:;"> <i class="fa fa-eye"></i> View </a> |
                                                                <a href="javascript:;"> <i class="fa fa-pencil"></i> Edit </a>
                                                            </div>
                                                            <div class=""> 
                                                                <a href="javascript:;">
                                                                    News | <span class="dark_ylw">Sports News</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p> <strong> Published </strong> /Rejected: 16/08/2017 </p>
                                                        <p> Creation: 16/08/2017 </p>
                                                        <p> Submit for Review: <strong> 16/08/2017 </strong> </p>
                                                    </td>
                                                    <td> 500 </td> <td> 100 </td> <td> 50 </td> <td> 40 </td> <td> 20 </td>
                                                    <td> 100 </td> <td> 30 </td> <td> 40 </td> <td> 500 </td> 
                                                    <td>300 </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <md-checkbox></md-checkbox>
                                                    </td>
                                                    <td class="text-left">
                                                        <div class="cont-img">
                                                            <img src="./assets/img/placeholder5.png" class="img-responsive" />
                                                        </div>
                                                        <div class="cont-dtl">
                                                            <p> Vishwanthan Anand finshes joint eighth in St.Louis Rapid Chess tournament </p>
                                                            <p> <strong> Posted by: </strong> Rohan Sen </p>
                                                            <div class="m-t-5"> 
                                                                <a href="javascript:;"> <i class="fa fa-eye"></i> View </a> |
                                                                <a href="javascript:;"> <i class="fa fa-pencil"></i> Edit </a>
                                                            </div>
                                                            <div class=""> 
                                                                <a href="javascript:;">
                                                                    News | <span class="dark_ylw">Sports News</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p> <strong> Published </strong> /Rejected: 16/08/2017 </p>
                                                        <p> Creation: 16/08/2017 </p>
                                                        <p> Submit for Review: <strong> 16/08/2017 </strong> </p>
                                                    </td>
                                                    <td> 500 </td> <td> 100 </td> <td> 50 </td> <td> 40 </td> <td> 20 </td>
                                                    <td> 100 </td> <td> 30 </td> <td> 40 </td> <td> 500 </td> 
                                                    <td>300 </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <md-checkbox></md-checkbox>
                                                    </td>
                                                    <td class="text-left">
                                                        <div class="cont-img">
                                                            <img src="./assets/img/placeholder5.png" class="img-responsive" />
                                                        </div>
                                                        <div class="cont-dtl">
                                                            <p> Vishwanthan Anand finshes joint eighth in St.Louis Rapid Chess tournament </p>
                                                            <p> <strong> Posted by: </strong> Rohan Sen </p>
                                                            <div class="m-t-5"> 
                                                                <a href="javascript:;"> <i class="fa fa-eye"></i> View </a> |
                                                                <a href="javascript:;"> <i class="fa fa-pencil"></i> Edit </a>
                                                            </div>
                                                            <div class=""> 
                                                                <a href="javascript:;">
                                                                    News | <span class="dark_ylw">Sports News</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p> <strong> Published </strong> /Rejected: 16/08/2017 </p>
                                                        <p> Creation: 16/08/2017 </p>
                                                        <p> Submit for Review: <strong> 16/08/2017 </strong> </p>
                                                    </td>
                                                    <td> 500 </td> <td> 100 </td> <td> 50 </td> <td> 40 </td> <td> 20 </td>
                                                    <td> 100 </td> <td> 30 </td> <td> 40 </td> <td> 500 </td> 
                                                    <td>300 </td>

                                                </tr>
                                                
                                            </tbody>
                                        </table> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <owl-date-time [(ngModel)]="moment" ></owl-date-time> -->
        <app-footer></app-footer>
    </div>
    <div class="fixed-plugin">
	    <div class="filter-plugin">
	        <a href="javascript:void(0);">
	            <i class="material-icons">sort</i>
	        </a>
	        <ul class="sidebar-filter" type="none">
	        	<div class="left-content">
	        		<div class="close-filter"> <span> <i class="fa fa-times"></i> </span> </div>
                    <!-- <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Select State</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><md-checkbox>State1</md-checkbox></li>
                                <li><md-checkbox>State2</md-checkbox></li>
                                <li><md-checkbox>State3</md-checkbox></li>
                                <li><md-checkbox>State4</md-checkbox></li>
                            </ul>
                        </div>
                    </div> -->

                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Select Language</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><md-checkbox>Language1</md-checkbox></li>
                                <li><md-checkbox>Language2</md-checkbox></li>
                                <li><md-checkbox>Language3</md-checkbox></li>
                                <li><md-checkbox>Language4</md-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Section</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><md-checkbox>News</md-checkbox></li>
                                <li><md-checkbox>Jobs</md-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Category </h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><md-checkbox>Sport News</md-checkbox></li>
                                <li><md-checkbox>Technology News</md-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Sub-category </h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><md-checkbox>Football</md-checkbox></li>
                                <li><md-checkbox>Cricket</md-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Status</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><md-checkbox>Draft</md-checkbox></li>
                                <li><md-checkbox>Rejected</md-checkbox></li>
                                <li><md-checkbox>Revision</md-checkbox></li>
                                <li><md-checkbox>Scheduled</md-checkbox></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="btns-filter">
                     <a class="btn custom-btn">Apply Filter </a>
                	<a class="btn custom-btn"> Add Content </a>
                    <a class="btn custom-btn"> Homepage Management </a>
                    <a routerLink="/priority" class="btn custom-btn"> Category Priority Content Management </a>
                </div>
	        </ul>
	    </div>
	</div>

</div>