.font12{
	font-size: 12px;
}


.view-content-table .cont-img{
	width: 125px;
}
.view-content-table .cont-dtl{
	margin-left: 120px;
}
mfdefaultsorter a.text-nowrap{
	padding-right: 0;
	min-width: 55px;	
}

.dshbrd-table table thead th.icon-wdth{
	min-width: 55px;
}