<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card" > 
                            <div class="card-header card-header-icon" data-background-color="orange">
                                <i class="material-icons">edit</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Add Content</h4>
                                <div class="cus-form">
                                    <form class="example-form">

                                    	<div class="form-group col-md-4 col-sm-4 col-xs-12">
		                                    <md-select placeholder="Select Section">
		                                        <md-option value="1"> Section1 </md-option>
		                                        <md-option value="2"> Section2 </md-option>
		                                        <md-option value="3"> Section3 </md-option>
		                                        <md-option value="4"> Section4 </md-option>
		                                    </md-select>
		                                </div>
		                                <div class="form-group col-md-4 col-sm-4 col-xs-12">
		                                    <md-select placeholder="Select Category">
		                                        <md-option value="1"> Category1 </md-option>
		                                        <md-option value="2"> Category2 </md-option>
		                                        <md-option value="3"> Category3 </md-option>
		                                        <md-option value="4"> Category4 </md-option>
		                                    </md-select>
		                                </div>
		                                <div class="form-group col-md-4 col-sm-4 col-xs-12">
		                                    <md-select placeholder="Select Sub-category">
		                                        <md-option value="1"> Sub-category1 </md-option>
		                                        <md-option value="2"> Sub-category2 </md-option>
		                                        <md-option value="3"> Sub-category3 </md-option>
		                                        <md-option value="4"> Sub-category4 </md-option>
		                                    </md-select>
		                                </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <md-form-field>
                                                <input mdInput placeholder="Add headline" type="text">
                                            </md-form-field>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <md-form-field>
                                                <input mdInput placeholder="Add tagline" type="text">
                                            </md-form-field>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    		<input type="text" placeholder="Add tagline" class="selectize txtselectize">
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        	<md-form-field>
											  	<input mdInput [mdDatepicker]="picker" placeholder="Date of creation">
											  	<md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
											  	<md-datepicker #picker></md-datepicker>
											</md-form-field>
										</div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
		                                    <md-select placeholder="Type of user">
		                                        <md-option value="1"> User1 </md-option>
		                                        <md-option value="2"> User2 </md-option>
		                                        <md-option value="3"> User3 </md-option>
		                                        <md-option value="4"> User4 </md-option>
		                                    </md-select>
		                                </div>    

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div id="email-builder">
                                                <div class="email-builder-content">
                                                   
                                                    <div class="md-card">
                                                        <div class="md-card-content elements-list">
                                                            <h3 class="m-t-0">Tools</h3>
                                                            <ul>
                                                                <li data-type="text" (click)="addText()"> 
                                                                    <i class="material-icons"></i>
                                                                    <span>Text</span>
                                                                </li>
                                                                <li data-type="image" (click)="addImage()">
                                                                    <i class="material-icons"></i>
                                                                    <span>Image</span>
                                                                </li>
                                                                <li data-type="audio" (click)="addAudio()">
                                                                    <i class="material-icons">audiotrack</i>
                                                                    <span>Audio</span>
                                                                </li>
                                                                <li data-type="video" (click)="addVideo()">
                                                                    <i class="material-icons">videocam</i>
                                                                    <span>Video</span>
                                                                </li>
                                                                <li data-type="document" (click)="addFile()">
                                                                    <i class="material-icons">insert_drive_file</i>
                                                                    <span>Document</span>
                                                                </li>
                                                                <li data-type="media" (click)="addGrid()">
                                                                    <i class="material-icons">view_array</i>
                                                                    <span>Media Grid</span>
                                                                </li>
                                                                <li data-type="apply" (click)="addApply()">
                                                                    <i class="icon-check"></i>
                                                                    <span>Apply</span>
                                                                </li>
                                                                <li data-type="apply" (click)="addCall()">
                                                                    <i class="icon-call"></i>
                                                                    <span>Call</span>
                                                                </li>
                                                                <li data-type="apply" (click)="addCallMe()">
                                                                    <i class="icon-callme"></i>
                                                                    <span>Call me back</span>
                                                                </li>
                                                                <li data-type="apply" (click)="addIntrested()">
                                                                    <i class="icon-click"></i>
                                                                    <span>I'm Interested</span>
                                                                </li>
                                                                <li data-type="apply" (click)="addlike()">
                                                                    <i class="icon-okay"></i>
                                                                    <span>Kadak</span>
                                                                </li>
                                                                <li data-type="apply" (click)="addshare()">
                                                                    <i class="fa fa-share-alt"></i>
                                                                    <span>Share</span>
                                                                </li>
                                                                <li data-type="apply" (click)="addcomment()">
                                                                    <i class="icon-msg"></i>
                                                                    <span>Comment</span>
                                                                </li>
                                                                <li data-type="apply" (click)="addsave()">
                                                                    <i class="icon-badge"></i>
                                                                    <span>Save</span>
                                                                </li>
                                                                <li data-type="apply" (click)="addownload()">
                                                                    <i class="icon-donload"></i>
                                                                    <span>Download</span>
                                                                </li>

                                                            </ul>
                                                            <button type="button" class="btn btn-success full-width">
                                                                <i class="material-icons">save</i>
                                                                Save changes
                                                            </button>
                                                            <button type="button" class="btn btn-danger full-width">
                                                                <i class="material-icons">delete</i> 
                                                                Delete All Element
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div position-relative>
                                                        <div class="builder">
                                                            <div class="email-container list-group" dnd-sortable-container [sortableData]="listOne">
                                                               <div *ngFor="let item of listOne; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                                                    <div class="builder-element" *ngIf="item.tag=='grid'">
                                                                        <table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff" align="center" data-type="text-block">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="width: 33.33%;border: 1px dashed #333;height: 100px;background-color: #f5f5f5;">
                                                                                        
                                                                                    </td>
                                                                                    <td style="width: 33.33%;border: 1px dashed #333;height: 100px;background-color: #f5f5f5;">
                                                                                        
                                                                                    </td>
                                                                                    <td style="width: 33.33%;border: 1px dashed #333;height: 100px;background-color: #f5f5f5;">
                                                                                        
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div class="icons-actions">
                                                                            <i title="Move element" class="material-icons">drag_handle</i>
                                                                            <i class="material-icons" title="Delete element">delete</i>
                                                                        </div>
                                                                    </div>

                                                                    <div class="builder-element" *ngIf="item.tag=='button'">
                                                                        <table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff" align="center" data-type="text-block">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="">
                                                                                        <button type="button" class="btn custom-btn btn-round">Click  me</button>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="builder-element" *ngIf="item.tag=='image'">
                                                                        <table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff" align="center" data-type="text-block">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style=" text-align: center;">
                                                                                        <h5>Title of images</h5>
                                                                                        <img src="./assets/img/cover.jpeg" style="width:80%; display: inline-block;" >
                                                                                        <figcaption>Fig.1 - A view of Mountain.</figcaption>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="builder-element" *ngIf="item.tag=='video'">
                                                                        <table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff" align="center" data-type="text-block">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="" align="center">
                                                                                        <video id="my-video" controls preload="auto" width="80%">
                                                                                            <source src="./assets/videos/SampleVideo.mp4" type="video/mp4">
                                                                                        </video>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="builder-element" *ngIf="item.tag=='audio'">
                                                                        <table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff" align="center" data-type="text-block">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="" align="center">
                                                                                        <audio controls style="width:80%;">
                                                                                            <source src="./assets/videos/songs.mp3"  type="audio/mpeg" />
                                                                                            Your browser does not support the audio element.
                                                                                        </audio>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="builder-element" *ngIf="item.tag=='document'">
                                                                        <table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff" align="center" data-type="text-block">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="" align="center">
                                                                                        <img src="./assets/img/JAVA.png" style="width:120px; display: inline-block;" >
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="md-card">
                                                        <div class="md-card-content">
                                                            <form action="#">
                                                                 <div class="email-builder-element-edit-field">

                                                                    <div class="block-properties">
                                                                        <div class="md-btn-group md-btn-group-justify">
                                                                            <button type="button" class="custom-btn btn">Left</button>
                                                                            <button type="button" class="custom-btn btn">Center</button>
                                                                            <button type="button" class="custom-btn btn active">Right</button>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="email-builder-element-edit-field">

                                                                    <div class="block-properties">
                                                                        <h3>Padding:</h3>
                                                                        <div class="form-row padding-inputs">
                                                                            <md-form-field>
                                                                                <input mdInput placeholder="Top" type="text">
                                                                            </md-form-field>
                                                                            <md-form-field>
                                                                                <input mdInput placeholder="Right" type="text">
                                                                            </md-form-field>
                                                                        </div>
                                                                        <div class="form-row padding-inputs">
                                                                            <md-form-field>
                                                                                <input mdInput placeholder="Bottom" type="text">
                                                                            </md-form-field>
                                                                            <md-form-field>
                                                                                <input mdInput placeholder="Left" type="text">
                                                                            </md-form-field>
                                                                        </div>
                                                                           
                                                                    </div>

                                                                </div>

                                                                <div class="email-builder-element-edit-field">

                                                                    <div class="block-properties">
                                                                        <div class="form-row text-inputs">
                                                                            <md-form-field>
                                                                                <input mdInput placeholder="Button Text" type="text">
                                                                            </md-form-field>
                                                                        </div>
                                                                           
                                                                    </div>

                                                                </div>

                                                                <div class="email-builder-element-edit-field">

                                                                    <div class="block-properties">
                                                                        <div class="form-row text-inputs">
                                                                            <md-form-field>
                                                                                <input mdInput placeholder="Width" type="text">
                                                                            </md-form-field>
                                                                        </div>
                                                                           
                                                                    </div>

                                                                </div>

                                                                <div class="email-builder-element-edit-field">

                                                                    <div class="block-properties m-b-30">
                                                                        <div class="form-row text-inputs">
                                                                            <div class="fileinput" data-provides="fileinput">
                                                                                <div class="fileinput-new thumbnail">
                                                                                    <img alt="..." src="./assets/img/placeholder5.png">
                                                                                </div>
                                                                                <span class="btn custom-btn btn-round btn-file">
                                                                                    <span class="fileinput-new">Change</span>
                                                                                    <input type="file" class="file-type" (click)="imagChange()" />
                                                                                    <div class="ripple-container"></div>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                           
                                                                    </div>

                                                                </div>

                                                                <div class="email-builder-element-edit-field">

                                                                    <div class="block-properties">
                                                                        <div class="form-row text-inputs">
                                                                            <md-form-field>
                                                                                <input mdInput placeholder="URL" type="text" [(colorPicker)]="color" [value]="color" [cpPosition]="'bottom'" />
                                                                                <!-- <input mdInput placeholder="URL" type="text"> -->
                                                                            </md-form-field>
                                                                        </div>
                                                                           
                                                                    </div>

                                                                </div>

                                                                <div class="email-builder-element-edit-field">

                                                                    <div class="block-properties">
                                                                        <div class="form-row text-inputs">
                                                                            <md-form-field>
                                                                                <input mdInput placeholder="Alt Tag" type="text">
                                                                            </md-form-field>
                                                                        </div>
                                                                           
                                                                    </div>

                                                                </div>

                                                                <div class="email-builder-element-edit-field">

                                                                    <div class="block-properties">
                                                                        <div class="form-row text-inputs">
                                                                            <md-form-field>
                                                                                <input mdInput placeholder="Title" type="text">
                                                                            </md-form-field>
                                                                        </div>
                                                                           
                                                                    </div>

                                                                </div>
                                                                
                                                                <div class="email-builder-element-edit-field">

                                                                    <div class="block-properties">
                                                                        <div class="form-row text-inputs">
                                                                            <md-form-field>
                                                                                <input mdInput placeholder="Caption" type="text">
                                                                            </md-form-field>
                                                                        </div>
                                                                           
                                                                    </div>

                                                                </div>
                                                                

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-sm-3">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">Available to drag</div>
                                                    <div class="panel-body">
                                                        <div class="panel panel-default" dnd-draggable [dragEnabled]="true" [dragData]="transferData">
                                                            <div class="panel-body">
                                                                <div>Drag Me</div>
                                                                <div>{{transferData | json}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataSuccess($event)">
                                                    <div class="panel-heading">Place to drop (Items:{{receivedData.length}})</div>
                                                    <div class="panel-body">
                                                        <div [hidden]="!receivedData.length > 0" *ngFor="let data of receivedData">{{data | json}}</div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            
                                            <!-- <div class="form-panel">
                                                <div class="form-box left">
                                                    <div dnd-droppable class="dnd-drop" (onDropSuccess)="transferDataSuccess($event)">
                                                        <div class="place-to-drop">
                                                            <div [hidden]="!receivedData.length > 0" *ngFor="let data of receivedData">
                                                                <div class="li">
                                                                    <div class="edit-box">
                                                                        <a href="javascript:void(0);" class="btn btn-success for_edit"> <i class="material-icons">mode_edit</i> </a>
                                                                        <a href="javascript:void(0);" class="btn btn-danger for_delete"> <i class="material-icons">delete</i> </a>
                                                                    </div>
                                                                    
                                                                    <div *ngIf="data.dragData.name=='Textbox'">
                                                                        <md-form-field>
                                                                            <input mdInput placeholder="Textbox" type="text">
                                                                        </md-form-field>
                                                                        <div class="to_edit">
                                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                                <md-form-field>
                                                                                    <input mdInput placeholder="label" type="text">
                                                                                </md-form-field>    
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div *ngIf="data.dragData.name=='Textarea'">
                                                                        <md-form-field>
                                                                            <textarea mdInput placeholder="Guide Text of Form" rows="5" md-select-on-focus></textarea>
                                                                        </md-form-field>
                                                                        <div class="to_edit">
                                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                                <md-form-field>
                                                                                    <input mdInput placeholder="label" type="text">
                                                                                </md-form-field>    
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div *ngIf="data.dragData.name=='File_Upload'">
                                                                        <div class="file_upload">
                                                                            <span class="btn custom-btn btn-round btn-file">
                                                                                <span class="fileinput-new">Upload</span>
                                                                                <input type="file" class="file-type" (click)="formimage()" />
                                                                                <div class="ripple-container"></div>
                                                                            </span>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                                <div class="file_img thumbnail" style="display:none;">
                                                                                    <img alt="..." src="./assets/img/placeholder5.png">
                                                                                    <span class="close"> <i (click)="close_img()" class="material-icons">cancel</i> </span>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="to_edit">
                                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                                <md-form-field>
                                                                                    <input mdInput placeholder="label" type="text">
                                                                                </md-form-field>    
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-box right">
                                                    <div class="right-form">
                                                        <div class="">
                                                            <ul class="right-ul">
                                                                <li *ngFor="let item of items" dnd-draggable [dragEnabled]="true" [dragData]="item">{{item.name}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div> -->
                                            <!-- <a class="btn custom-btn" (click)="openDialog()" > Add Content </a> -->
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <legend>Add suggested articles:</legend>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <md-radio-button name="yes1" class="col-md-2 col-sm-2 col-xs-12">Yes</md-radio-button>
                                                <md-radio-button name="yes1" class="col-md-2 col-sm-2 col-xs-12">No</md-radio-button>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
		                                    <md-select placeholder="Select Section">
		                                        <md-option value="1"> Section1 </md-option>
		                                        <md-option value="2"> Section2 </md-option>
		                                        <md-option value="3"> Section3 </md-option>
		                                        <md-option value="4"> Section4 </md-option>
		                                    </md-select>
		                                </div>
                                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                            <md-select placeholder="Select Category">
                                                <md-option value="1"> Category1 </md-option>
                                                <md-option value="2"> Category2 </md-option>
                                                <md-option value="3"> Category3 </md-option>
                                                <md-option value="4"> Category4 </md-option>
                                            </md-select>
                                        </div>
                                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                            <md-select placeholder="Select Sub-category">
                                                <md-option value="1"> Sub-category1 </md-option>
                                                <md-option value="2"> Sub-category2 </md-option>
                                                <md-option value="3"> Sub-category3 </md-option>
                                                <md-option value="4"> Sub-category4 </md-option>
                                            </md-select>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <md-form-field>
                                            	<md-icon mdSuffix>mode_edit</md-icon>
                                                <input mdInput placeholder="Seacrh name of content item" type="text">
                                            </md-form-field>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <legend>Picture of Subcategory:</legend>
                                        </div>
                                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                            <div class="fileinput text-center fileinput-new" data-provides="fileinput">
                                                <p class="text-center"> Thumbnail Picture </p>
                                                <div class="fileinput-new thumbnail">
                                                    <img alt="..." src="./assets/img/placeholder5.png">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists" style="display:none;">
                                                	<span class="btn custom-btn btn-round btn-file">
	                                                    Change
	                                                    <input type="file" class="file-type" (click)="imagChange()" />
	                                                    <div class="ripple-container"></div>
	                                                </span>    
	                                                <span class="btn btn-danger btn-round btn-file">
	                                                	<i class="fa fa-times"></i> Remove
	                                                	<div class="ripple-container"></div>
	                                                </span>
                                                </div>
                                                <span class="btn custom-btn btn-round btn-file fileinput-noexists">
                                                    <span class="fileinput-new">Change</span>
                                                    <input type="file" class="file-type" (click)="imagChange()" />
                                                    <div class="ripple-container"></div>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                            <div class="fileinput text-center fileinput-new" data-provides="fileinput">
                                                <p class="text-center"> Horizontal Picture </p>
                                                <div class="fileinput-new thumbnail">
                                                    <img alt="..." src="./assets/img/placeholder5.png">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists" style="display:none;">
                                                	<span class="btn custom-btn btn-round btn-file">
	                                                    Change
	                                                    <input type="file" class="file-type" (click)="imagChange()" />
	                                                    <div class="ripple-container"></div>
	                                                </span>    
	                                                <span class="btn btn-danger btn-round btn-file">
	                                                	<i class="fa fa-times"></i> Remove
	                                                	<div class="ripple-container"></div>
	                                                </span>
                                                </div>
                                                <span class="btn custom-btn btn-round btn-file fileinput-noexists">
                                                    <span class="fileinput-new">Change</span>
                                                    <input type="file" class="file-type" (click)="imagChange()" />
                                                    <div class="ripple-container"></div>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <legend>User engagement buttons:</legend>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Like</md-checkbox>
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Share</md-checkbox>
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Comment</md-checkbox>
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Save</md-checkbox>
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Download</md-checkbox>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <legend>Call to action buttons:</legend>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Apply</md-checkbox>
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Call me back</md-checkbox>
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">I'm interested</md-checkbox>
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Call</md-checkbox>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <legend>Shortlist content for promotion:</legend>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Homepage</md-checkbox>
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Category</md-checkbox>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <legend>Preview:</legend>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Homepage</md-checkbox>
                                                <md-checkbox class="col-md-2 col-sm-2 col-xs-12">Category</md-checkbox>
                                            </div>
                                        </div>
		                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <a class="btn custom-btn"> Content View </a>
                                            <a class="btn custom-btn"> Listing View </a>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <a class="btn btn-warning"> Save as draft </a>
                                            <a class="btn btn-success"> Submit for review </a>
                                            <a class="btn btn-danger"> Publish </a>
                                            <a class="btn btn-warning"> Publish later </a>
                                            <a class="btn btn-success"> Send for revision </a>
                                            <a class="btn btn-danger"> Reject </a>
                                        </div>
                                        

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</div>