<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="container-fluid p-0">
                <form class="example-form" [formGroup]="addSectionForm">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card" > 
                                <div class="card-header card-header-icon" data-background-color="orange">
                                    <i class="material-icons">edit</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Add Section</h4>
                                    <div class="cus-form">
                                        
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <md-form-field>
                                                    <input mdInput placeholder="Name of Section *" type="text" [formControl]="addSectionForm.controls['sectionName']" name="sectionName"  [(ngModel)]="addSectionModel.sectionName">
                                                      <md-error  *ngIf="addSectionForm.controls['sectionName'].hasError('required') && addSectionForm.controls['sectionName'].touched">
                                                       Section Name is <strong>required</strong>
                                                     </md-error>
                                                     <md-error  *ngIf="addSectionForm.controls['sectionName'].hasError('pattern')">
                                                       only alphabets are acceptable 
                                                     </md-error>
                                                     <md-error  *ngIf="addSectionForm.controls['sectionName'].hasError('maxlength')">
                                                       max length is 30
                                                     </md-error>                                                   
                                                </md-form-field>
                                            </div>
                                            
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <legend>Section Display Photo:</legend>
                                            </div>
                                            <div class="form-group col-md-4 col-sm-6 col-xs-12 text-center">
                                                <p> Thumbnail Picture </p>
                                                <div class="fileinput text-center fileinput-new" data-provides="fileinput">
                                                    <ngx-croppie *ngIf="croppieImageThumbnail" #ngxCroppie [croppieOptions]="croppieOptionsThumbnail" [imageUrl]="croppieImageThumbnail" (result)="newImageResultFromCroppieThumbnail($event)"></ngx-croppie>
                                                    <div class="fileinput-new thumbnail">
                                                        <img alt="..."  [src]="imageToDisplayThumbnail">
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists" style="display:none;">
                                                         <span class="btn custom-btn btn-round btn-file" (click)="saveImageFromCroppieThumbnail(myForm)">
                                                        Save
                                                        <div class="ripple-container"></div>
                                                        </span>    
                                                        <span class="btn btn-danger btn-round file_remove" data-dismiss="modal" (click)="cancelCroppieEditThumbnail()">
                                                            <i class="fa fa-times"></i> Cancel
                                                            <div class="ripple-container"></div>
                                                        </span>
                                                    </div>
                                                    <span class="btn custom-btn btn-round btn-file fileinput-noexists">
                                                        <span class="fileinput-new">Change</span>
                                                        <input type="file" class="file-type" id="fileupload" #imageUploadThumbnail (change)="imageUploadEventThumbnail($event)" accept="image/gif, image/jpeg, image/png" />
                                                        <div class="ripple-container"></div>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4 col-sm-6 col-xs-12 text-center">
                                                <p> Horizontal Picture </p>
                                                <div>
                                                    <ngx-croppie *ngIf="croppieImageHorigontal" #ngxCroppie [croppieOptions]="croppieOptionsHorigontal" [imageUrl]="croppieImageHorigontal" (result)="newImageResultFromCroppieHorigontal($event)"></ngx-croppie>
                                                </div>
                                                
                                                <div class="fileinput text-center fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-new thumbnail">
                                                        <img alt="..."  [src]="imageToDisplayHorigontal">
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists" style="display:none;">
                                                        <span class="btn custom-btn btn-round btn-file" (click)="saveImageFromCroppieHorigontal(myForm)">
                                                        Save
                                                            <div class="ripple-container"></div>
                                                        </span>    
                                                        <span class="btn btn-danger btn-round file_remove" data-dismiss="modal" (click)="cancelCroppieEditHorigontal()">
                                                            <i class="fa fa-times"></i> Cancel
                                                            <div class="ripple-container"></div>
                                                        </span>
                                                    </div>
                                                    <span class="btn custom-btn btn-round btn-file fileinput-noexists">
                                                        <span class="fileinput-new">Change</span>
                                                        <input type="file" class="file-type" id="fileupload" #imageUploadHorigontal (change)="imageUploadEventHorigontal($event)" accept="image/gif, image/jpeg, image/png" />
                                                        <div class="ripple-container"></div>
                                                    </span>
                                                </div>
                                            </div>


                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <legend>Category View Applicable *:</legend>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                    <md-radio-group    [formControl]="addSectionForm.controls['categoryView']" name="cateGoryView" [(ngModel)]="addSectionModel.categoryView">
                                                        <md-radio-button class="col-md-2 col-sm-2 col-xs-12" value="yes">Yes</md-radio-button>
                                                        <md-radio-button class="col-md-2 col-sm-2 col-xs-12" value="No">No</md-radio-button>
                                                    </md-radio-group>
                                                       <md-error  *ngIf="addSectionForm.controls['categoryView'].hasError('required') && addSectionForm.controls['categoryView'].touched">
                                                       Category View is <strong>required</strong>
                                                     </md-error>                                                   
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <button class="btn custom-btn" (click)="onAddSection()" [disabled]="!addSectionForm.valid"> Submit </button>
                                            </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>