#email-builder .email-builder-content {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
}
#email-builder .email-builder-content>* {
    flex: 1;
    max-height: 100%;
    background-color: #fff;
    color: #4d4d4d;
}
#email-builder .email-builder-content>:first-child {
    max-width: 280px;
    padding: 1em 2em;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}
#email-builder .email-builder-content>:last-child {
    z-index: 1;
    padding: 1rem;
    max-width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#email-builder .email-builder-content [position-relative] {
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
}
.md-card {
    background: #4d4d4d;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border: none;
}

#email-builder .email-builder-content>:first-child .elements-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#email-builder .email-builder-content>:first-child .elements-list ul li {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3em .5em;
    border: 1px solid #bfbfbf;
    margin-bottom: 6px;
    border-radius: 3px;
    max-width: calc(50% - 3px);
    flex: 1 1 50%;
    box-sizing: border-box;
    word-wrap: break-word;
    cursor: move;
    transition: all .2s ease-in-out;
}
.full-width{
    width: 100%;
}