<div class="modal-header">

    <h4 class="modal-title">Select date and time</h4>
</div>
<div class="modal-body">
    <div class="">
        <div class="form-group col-mat-12 col-sm-12 col-xs-12">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="date.start" (input)="checkStartDate()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group col-mat-12 col-sm-12 col-xs-12">
            <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="End Date" [(ngModel)]="date.end" (input)="checkEndDate()">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <p *ngIf="showMessage">start and end date can't be same !!!</p>
        <div class="form-group col-mat-12 col-sm-12 col-xs-12">
             <button class="btn custom-btn" (click)="submit()"> Submit </button>
        </div>

        

    </div>
</div>