<section class="login-sec">
    <div class="table-divvh">
        <div class="table-cell-div">
            <div class="container">
                
                <div class="flex">
                    <div class="flex-items">
                        <div class="login-logo">
                            <img src="./assets/img/logo.png" class="img-responsive" />
                        </div>
                    </div>
                    <div class="flex-items">
                        <div class="login-panel">
                            
                            <h3 class="text-center">Netpar Administrator Login</h3>

                            <div class="loginas-sec">
                                <form class="example-form" [formGroup]="complexForm">

                                    <div class="form-group col-mat-12 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <mat-select placeholder="Login as" [formControl]="complexForm.controls['loginAs']" [(ngModel)]="loginModel.role" >
                                                <mat-option value="superAdmin" selected> Super Administrator </mat-option>
                                                <mat-option value="sectionAdministrator"> section Administrator </mat-option>
                                                <mat-option value="contentWriter"> Content Writer </mat-option>
                                                <mat-option value="businessUser"> Business user </mat-option>
                                            </mat-select>
                                             <mat-error *ngIf="complexForm.controls['loginAs'].hasError('required')">
                                                      Login As is <strong>required</strong>
                                            </mat-error>
                                         </mat-form-field>
                                    </div>
                                        
                                    <div class="form-group col-mat-12 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <input matInput placeholder="Email" type="email" [formControl]="complexForm.controls['email'] " [(ngModel)]="loginModel.email">
                                            <mat-error *ngIf="complexForm.controls['email'].hasError('pattern')">
                                                  Please enter a valid email address
                                            </mat-error>
                                            <mat-error *ngIf="complexForm.controls['email'].hasError('required')">
                                                  Email is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-mat-12 col-sm-12 col-xs-12">
                                        <mat-form-field>
                                            <input matInput placeholder="Password" type="password"  [formControl]="complexForm.controls['password']" [(ngModel)]="loginModel.password" >
                                             <mat-error *ngIf="complexForm.controls['password'].hasError('required')">
                                                 Password is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-mat-12 col-sm-12 col-xs-12">
                                        <mat-checkbox [formControl]="complexForm.controls['remember']" [(ngModel)]="loginModel.remember" >Remember Me</mat-checkbox>
                                    </div>
                                    <div class="form-group col-mat-12 col-sm-12 col-xs-12">
                                        <button (click)="onLogIn()" class="btn custom-btn" [disabled]="buttonStatus ||!complexForm.valid"> Login to Netpar </button>
                                    </div>
                                    <div class="form-group col-mat-12 col-sm-12 col-xs-12 text-center">
                                        <a routerLink="/home"> Forgot Password? </a>
                                    </div>
                                </form>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    

    $('.label-floating .form-control').on('focus',function(){
        $(this).closest('.label-floating').addClass('is-focused');
    });
    $('.label-floating .form-control').on('blur',function(){
        $(this).closest('.label-floating').removeClass('is-focused');
    });

</script>
