<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center"></div>
    </div>

    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
        	<div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                    	<div class="card-cell">
	                    	<h1 class="text-center"> Hi, <span *ngIf="appProvider.current.loginData">{{appProvider.current.loginData.firstName}}. </span></h1>
	                    	<h3 class="text-center"> You have logged in as <span *ngIf="appProvider.current.loginData">{{adminRole(appProvider.current.loginData.role)}} </span></h3>
	                    </div>
                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</div>