<div class="wrapper">
    <div class="loader-box" *ngIf="waitLoader">
         <img src="./assets/img/netpar_logo.gif" class="img-responsive" />
    </div>
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card" > 
                            <div class="card-header card-header-icon" data-background-color="orange">
                                <i class="material-icons">show_chart</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">List view Template</h4>
                                <div class="row">
                                    <div class="template-table dshbrd-table table-responsive">
                                        <table class="table table-striped user-table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
                                            <thead class="text-danger">
                                                <tr>
                                                    <th> Template </th>
                                                    <th> Template Name </th>
                                                    <th> Active In Category </th>
                                                    <th> Start Time </th>
                                                    <th> End Time </th>
                                                </tr>
                                               
                                            </thead>
                                            <tbody>
                                                 <tr *ngFor="let list of categortTemplateList">
                                                    <td class="text-center">
                                                        <div class="cont-img templt-img">
                                                            <img class="img-responsive" src="./assets/img/listing-view/{{getImagePath(list.templateName)}}" />
                                                        </div>
                                                    </td>
                                                    <td> {{list.templateName}} </td>
                                                    <td> <ul *ngFor="let cat of getCategoryName(list.templateName)"><li>{{cat.categoryName}}</li></ul> </td>
                                                    <td> {{getStartTime(list.startTime)}}, {{getStartDate(list.startTime)}}</td>
                                                    <td> {{getEndTime(list.endTime)}}, {{getEndDate(list.endTime)}} </td>
                                                </tr>
                                                <!-- <tr>
                                                    <td class="text-center">
                                                        <div class="cont-img templt-img">
                                                            <img class="img-responsive" src="./assets/img/template1.png" />
                                                        </div>
                                                    </td>
                                                    <td> Listing View Screen2 </td>
                                                    <td> Sports News </td>
                                                    <td> 12:00 PM, 21-09-2017 </td>
                                                    <td> 5:05 PM, 25-09-2017 </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="cont-img templt-img">
                                                            <img class="img-responsive" src="./assets/img/template2.png" />
                                                        </div>
                                                    </td>
                                                    <td> Listing View Screen3 </td>
                                                    <td> Sports News </td>
                                                    <td> 12:00 PM, 21-09-2017 </td>
                                                    <td> 5:05 PM, 25-09-2017 </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="cont-img templt-img">
                                                            <img class="img-responsive" src="./assets/img/template4.png" />
                                                        </div>
                                                    </td>
                                                    <td> Listing View Screen1 </td>
                                                    <td> Sports News </td>
                                                    <td> 12:00 PM, 21-09-2017 </td>
                                                    <td> 5:05 PM, 25-09-2017 </td>
                                                </tr> -->


                                            </tbody>
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

</div>
    