
<div class="modal-header">
	<h4 class="modal-title" >Influencer <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span> </h4>
</div>
<div class="modal-body">
    <div *ngIf="media.type=='image'">
    	<img [src]="media.url">
    	
    </div>
    <div *ngIf="media.type=='audio'">
    	<audio>
    		<source [src]="safeURL(media.url)" >
    	</audio>
    	
    </div>
    <div *ngIf="media.type=='video'">
    	<video >
    		<source [src]="safeURL(media.url)" type="video/mp4">
    	</video>
    	
    </div>
</div>