
<div class="modal-header">
	<h4 class="modal-title" >Media <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span> </h4>
</div>
<div class="modal-body">
    <div class="loader-box" *ngIf="appProvider.current.loadingFlag">
         <img src="./assets/img/netpar_logo.gif" class="img-responsive" />
    </div>
    <div *ngIf="media.type=='image'">
    	<img [src]="media.url" width="100%" class="img-responsive">
    	
    </div>
    <div *ngIf="media.type=='audio'">
    	<audio width="100%"  controls="">
    		<source [src]="safeURL(media.url)" >
    	</audio>
    	
    </div>
    <div *ngIf="media.type=='video'">
    	<video controls="" width="100%" >
    		<source [src]="safeURL(media.url)" type="video/mp4">
    	</video>
    	
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success pull-right" (click)="ondownload()"> Download </button>
</div>