<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        
                    	<div class="card m-t-0">
                    		<div class="card-content">
	                            <div class="select-head">
	                                <span class="hed"> Selected filter </span> | <span class="clar-filter"> Clear Filter </span>
	                            </div>
	                            <ul class="slctd-fltrli" type="none">
	                                <li> Rejected <span> <i class="fa fa-times"></i> </span> </li>
	                                <li> Draft <span> <i class="fa fa-times"></i> </span> </li>
	                                <li> News <span> <i class="fa fa-times"></i> </span> </li>
	                                <li> Revision <span> <i class="fa fa-times"></i> </span> </li>
	                            </ul>
                          	</div>
                        </div>

                        <div class="card" > 
                            <div class="card-header card-header-icon" data-background-color="orange">
                                <i class="material-icons">show_chart</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Element Analytics</h4>
                                <div class="row">
                                	<div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <md-select placeholder="Items per page">
                                                <md-option value="1"> 25 </md-option>
                                                <md-option value="2"> 50 </md-option>
                                                <md-option value="3"> 100 </md-option>
                                                <md-option value="4"> 200 </md-option>
                                                <md-option value="4"> All </md-option>
                                            </md-select>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <md-select placeholder="Time Range">
                                                <md-option value="1"> 7d </md-option>
                                                <md-option value="2"> 15d </md-option>
                                                <md-option value="3"> 1m </md-option>
                                                <md-option value="4"> 3m </md-option>
                                                <md-option value="4"> 6m </md-option>
                                                <md-option value="4"> 1y </md-option>
                                                <md-option value="4"> all </md-option>
                                            </md-select>
                                        </div>
                                    </div>

	                                <div class="p-lr-15 pull-right">
	                                	<div class="dropdown right chck">
                                            <a href="javascript:;" class="dropdown-toggle btn btn-success" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">tune</i>
                                            </a>
                                            <ul class="dropdown-menu">
                                            	<md-radio-group>
													<li> <a> <md-radio-button value="8">  Number of comments   </md-radio-button> </a> </li>
													<li> <a> <md-radio-button value="9">  Number of Shares     </md-radio-button> </a> </li>
													<li> <a> <md-radio-button value="9">  Number of likes      </md-radio-button> </a> </li>
													<li> <a> <md-radio-button value="10"> Number of saves      </md-radio-button> </a> </li>
													<li> <a> <md-radio-button value="11"> Number of downloads  </md-radio-button> </a> </li>
													<li> <a> <md-radio-button value="4">  Page views           </md-radio-button> </a> </li>
													<li> <a> <md-radio-button value="12"> Unique views         </md-radio-button> </a> </li>
													<li> <a> <md-radio-button value="1"> No of click on apply  </md-radio-button> </a> </li>
													<li> <a> <md-radio-button value="2"> No of click on i'm interested</md-radio-button> </a> </li>
													<li> <a> <md-radio-button value="3"> No of click on call me</md-radio-button> </a> </li>
													<li> <a> <md-radio-button value="5"> No of click on call</md-radio-button> </a> </li>
												</md-radio-group>
                                            </ul>
                                        </div>
	                                </div>
	                            </div>

                                <div class="row">
	                                <div class="dshbrd-table table-responsive">
	                                	<table class="table table-striped user-table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
	                                        <thead class="text-danger">
		                                        <tr>
		                                            <th> Name Of Element </th>
		                                            <th colspan="2"> Views </th>
		                                            <th colspan="5"> User Engagement Buttons </th>
		                                            <th colspan="4"> Call to action Buttons </th>
		                                        </tr>
		                                        <tr>
                                                    <th> </th>
                                                    <th><mfDefaultSorter by="page">Page Views</mfDefaultSorter> </th>
                                                    <th><mfDefaultSorter by="unique"> Unique Views</mfDefaultSorter> </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Like" class="tltip_ico">
                                                            <mfDefaultSorter by="thumb"> <i class="icon-okay"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Share" class="tltip_ico">
                                                            <mfDefaultSorter by="share"> <i class="fa fa-share-alt"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Comment" class="tltip_ico">
                                                            <mfDefaultSorter by="comment"> <i class="icon-msg"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Save" class="tltip_ico">
                                                            <mfDefaultSorter by="square"> <i class="icon-badge"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Download" class="tltip_ico">
                                                            <mfDefaultSorter by="download"> <i class="icon-donload"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Apply" class="tltip_ico">
                                                            <mfDefaultSorter by="text"> <i class="icon-check"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Call" class="tltip_ico">
                                                            <mfDefaultSorter by="phone"> <i class="icon-call"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="Call Me Back" class="tltip_ico">
                                                            <mfDefaultSorter by="volume"> <i class="icon-callme"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a mdTooltipPosition="above" mdTooltip="I'm Interested" class="tltip_ico">
                                                            <mfDefaultSorter by="check"> <i class="icon-click"></i> </mfDefaultSorter> 
                                                        </a>
                                                    </th>
                                                </tr>
		                                    </thead>
		                                    <tbody>
		                                        <tr>
		                                            <td class="text-left">
                                                        Text Only
                                                    </td>
		                                            <td> 10,00,000 </td>
		                                            <td> 1,00,000 </td>
		                                            <td> 56 </td>
		                                            <td> 44 </td>
		                                            <td> 125 </td>
		                                            <td> 40 </td>
		                                            <td> 150 </td>
		                                            <td> 80 </td>
		                                            <td> 50 </td>
		                                            <td> 50 </td>
		                                            <td> 68 </td>

		                                        </tr>
		                                        <tr>
		                                            <td class="text-left">
                                                       Photo Only
                                                    </td>
		                                            <td> 10,00,000 </td>
		                                            <td> 1,00,000 </td>
		                                            <td> 56 </td>
		                                            <td> 44 </td>
		                                            <td> 125 </td>
		                                            <td> 40 </td>
		                                            <td> 150 </td>
		                                            <td> 80 </td>
		                                            <td> 50 </td>
		                                            <td> 50 </td>
		                                            <td> 68 </td>

		                                        </tr>
		                                        <tr>
		                                            <td class="text-left">
                                                        Photo + Video
                                                    </td>
		                                            <td> 10,00,000 </td>
		                                            <td> 1,00,000 </td>
		                                            <td> 56 </td>
		                                            <td> 44 </td>
		                                            <td> 125 </td>
		                                            <td> 40 </td>
		                                            <td> 150 </td>
		                                            <td> 80 </td>
		                                            <td> 50 </td>
		                                            <td> 50 </td>
		                                            <td> 68 </td>

		                                        </tr>

		                                    </tbody>
		                                    <tfoot>
	                                            <tr>
	                                                <td colspan="14">
	                                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
	                                                </td>
	                                            </tr>
                                            </tfoot>
	                                    </table>
	                                </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

    <div class="fixed-plugin">
	    <div class="filter-plugin">
	        <a href="javascript:void(0);">
	            <i class="material-icons">sort</i>
	        </a>
	        <ul class="sidebar-filter" type="none">
	        	<div class="left-content">
	        		<div class="close-filter"> <span> <i class="fa fa-times"></i> </span> </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Section</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><md-checkbox>News</md-checkbox></li>
                                <li><md-checkbox>Jobs</md-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Category </h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><md-checkbox>Sport News</md-checkbox></li>
                                <li><md-checkbox>Technology News</md-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Sub-category</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><md-checkbox>Cricket news</md-checkbox></li>
                                <li><md-checkbox>Football news</md-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btns-filter">
                        <a class="btn custom-btn">Apply Filter </a>
                    </div>
                    
                </div>
	        </ul>
	    </div>
	</div>

</div>