<div class="modal-header">

	<h4 class="modal-title">Select date and time</h4>
</div>
<div class="modal-body">
    <div class="">
    	<div class="form-group col-md-12 col-sm-12 col-xs-12">
        	<mat-form-field>
			  	<input matInput [matDatepicker]="picker" placeholder="Start Date">
			  	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			  	<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="form-group col-md-12 col-sm-12 col-xs-12">
        	<mat-form-field>
			  	<input matInput [matDatepicker]="picker1" placeholder="End Date">
			  	<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
			  	<mat-datepicker #picker1></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="form-group col-md-12 col-sm-12 col-xs-12">
        	<!-- <timeselector [class]="'form-control'" [config]="{'format' :'hh:mm A','iconCls':'time-icon'}" [(ngModel)]="startTime" ></timeselector> -->
		</div>
			

    </div>
</div>