<div class="modal-header">
    <div class="col-md-5 col-sm-5 col-xs-12">
        <mat-form-field>
        <mat-select placeholder="State" class="m-0" multiple [(ngModel)]="selectedData.state" (change)="forState(selectedData.state)">
            <mat-option [disabled]="state.name!='Maharashtra'" *ngFor="let state of stateListState" [value]="state.name"> {{state.name}} </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
        <mat-form-field>
         <mat-select placeholder="District" class="m-0" multiple [(ngModel)]="selectedData.dist" (change)="forDist(selectedData.dist)">
            <mat-option *ngFor="let dist of listDist" [value]="dist.name"> {{dist.name}} </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="select-head">
            <span class="hed"> Selected Block </span> | <span class="clar-filter" (click)="clearAll()"> Clear All</span>  | <span class="clar-filter" (click)="selectAll()"> Select All</span>
        </div>
        <ul class="slctd-fltrli" type="none" *ngIf="selectedBlock">
            <li *ngFor="let block of selectedBlock;let i=index" (click)="clearSingle(block)">{{block.name}} <span> <i class="fa fa-times"></i> </span> </li>
        </ul>
    </div>
</div>
<div class="modal-body">
    <ul class="state-ul">
        <li *ngFor="let block of listBlock;let i=index" class="sub-sub-li"> 
            <mat-checkbox [(ngModel)]="block.check" (change)="getSelectedBlock()">{{block.name}}</mat-checkbox>
            
         </li>

    </ul>
</div>

<div class="modal-footer">
	<button class="btn custom-btn" (click)="onSave()"> Save </button>
</div>
