<div class="modal-header">
	<!-- <h4 class="modal-title"> States <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span> </h4> -->
    <div class="col-md-5 col-sm-5 col-xs-12">
        <md-select placeholder="State" class="m-0">
            <md-option value="1"> State1 </md-option>
            <md-option value="2"> State2 </md-option>
            <md-option value="3"> State3 </md-option>
            <md-option value="4"> State4 </md-option>
            <md-option value="4"> State5 </md-option>
        </md-select>
    </div>
    <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="select-head">
            <span class="hed"> Selected Block </span> | <span class="clar-filter"> Clear All</span>  | <span class="clar-filter"> Select All</span>
        </div>
        <ul class="slctd-fltrli" type="none">
            <li> Kupwara <span> <i class="fa fa-times"></i> </span> </li>
            <li> Bore <span> <i class="fa fa-times"></i> </span> </li>
            <li> Keran <span> <i class="fa fa-times"></i> </span> </li>
            <li> Bugna <span> <i class="fa fa-times"></i> </span> </li>
        </ul>
    </div>
</div>
<div class="modal-body">
    <ul class="state-ul">
    	<!-- <li class="state-ulTitle">A</li> -->
    	<li class="li"> <md-checkbox>Jammu &amp; Kashmir</md-checkbox> </li>
    	<li class="sub-li"> <md-checkbox> Kupwara                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bore                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Keran                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bugna                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bichwal                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Mindiyan                     </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Patrin                       </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Juma Gund                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Khantha Wali (Shalun Bhatta) </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Har Duing                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Chunti Wari                  </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dudi                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dab Bal                      </md-checkbox> </li>

        <li class="li"> <md-checkbox>Jammu &amp; Kashmir</md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Kupwara                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bore                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Keran                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bugna                        </md-checkbox> </li>
        

        <li class="li"> <md-checkbox>Jammu &amp; Kashmir</md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Kupwara                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bore                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Keran                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bugna                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bichwal                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Mindiyan                     </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Patrin                       </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Juma Gund                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Khantha Wali (Shalun Bhatta) </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Har Duing                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dab Bal                      </md-checkbox> </li>

        <li class="li"> <md-checkbox>Jammu &amp; Kashmir</md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Kupwara                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bore                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Keran                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bugna                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bichwal                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Mindiyan                     </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Patrin                       </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Juma Gund                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Khantha Wali (Shalun Bhatta) </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Har Duing                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Chunti Wari                  </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dudi                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dab Bal                      </md-checkbox> </li>

        <li class="li"> <md-checkbox>Jammu &amp; Kashmir</md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Kupwara                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bore                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Keran                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bugna                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bichwal                      </md-checkbox> </li>
        <li class="li"> <md-checkbox>Jammu &amp; Kashmir</md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Kupwara                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bore                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Keran                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bugna                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bichwal                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Mindiyan                     </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Patrin                       </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Juma Gund                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Khantha Wali (Shalun Bhatta) </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Har Duing                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Chunti Wari                  </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dudi                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dab Bal                      </md-checkbox> </li>

        <li class="li"> <md-checkbox>Jammu &amp; Kashmir</md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Kupwara                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bore                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Keran                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bugna                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bichwal                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Mindiyan                     </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Patrin                       </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Juma Gund                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Khantha Wali (Shalun Bhatta) </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Har Duing                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Chunti Wari                  </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dudi                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dab Bal                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Juma Gund                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Khantha Wali (Shalun Bhatta) </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Har Duing                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Chunti Wari                  </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dudi                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dab Bal                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Juma Gund                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Khantha Wali (Shalun Bhatta) </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Har Duing                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Chunti Wari                  </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dudi                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dab Bal                      </md-checkbox> </li>

        <li class="li"> <md-checkbox>Jammu &amp; Kashmir</md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Kupwara                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bore                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Keran                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bugna                        </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Bichwal                      </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Mindiyan                     </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Patrin                       </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Juma Gund                    </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dudi                         </md-checkbox> </li>
        <li class="sub-li"> <md-checkbox> Dab Bal                      </md-checkbox> </li>

    </ul>
</div>

<!-- <div class="modal-footer">
	<button class="btn custom-btn"> Save </button>
</div> -->
