.modal-header{
	width: 100%;
	float: left;
}
.mat-dialog-container {
	overflow: hidden;
}

.modal-body {
  position: relative;
  padding: 15px;
  height: 56vh;
  overflow: auto;
}
ul.slctd-fltrli {
  width: 100%;
  margin: 8px 0 0;
  white-space: nowrap;
  overflow: auto;
}
.slctd-fltrli li{
	margin: 0 2px 10px;
}
.select-head{
	padding: 8px 0 0;
}
