<div class="modal-header">
	<!-- <h4 class="modal-title"> States <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span> </h4> -->
    <div class="col-md-5 col-sm-5 col-xs-12">
        <mat-select placeholder="State" class="m-0">
            <mat-option value="1"> State1 </mat-option>
            <mat-option value="2"> State2 </mat-option>
            <mat-option value="3"> State3 </mat-option>
            <mat-option value="4"> State4 </mat-option>
            <mat-option value="4"> State5 </mat-option>
        </mat-select>
    </div>
    <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="select-head">
            <span class="hed"> Selected Block </span> | <span class="clar-filter"> Clear All</span>  | <span class="clar-filter"> Select All</span>
        </div>
        <ul class="slctd-fltrli" type="none">
            <li> Kupwara <span> <i class="fa fa-times"></i> </span> </li>
            <li> Bore <span> <i class="fa fa-times"></i> </span> </li>
            <li> Keran <span> <i class="fa fa-times"></i> </span> </li>
            <li> Bugna <span> <i class="fa fa-times"></i> </span> </li>
        </ul>
    </div>
</div>
<div class="modal-body">
    <ul class="state-ul">
    	<!-- <li class="state-ulTitle">A</li> -->
    	<li class="li"> <mat-checkbox>Jammu &amp; Kashmir</mat-checkbox> </li>
    	<li class="sub-li"> <mat-checkbox> Kupwara                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bore                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Keran                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bugna                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bichwal                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Mindiyan                     </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Patrin                       </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Juma Gund                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Khantha Wali (Shalun Bhatta) </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Har Duing                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Chunti Wari                  </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dudi                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dab Bal                      </mat-checkbox> </li>

        <li class="li"> <mat-checkbox>Jammu &amp; Kashmir</mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Kupwara                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bore                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Keran                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bugna                        </mat-checkbox> </li>
        

        <li class="li"> <mat-checkbox>Jammu &amp; Kashmir</mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Kupwara                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bore                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Keran                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bugna                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bichwal                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Mindiyan                     </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Patrin                       </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Juma Gund                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Khantha Wali (Shalun Bhatta) </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Har Duing                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dab Bal                      </mat-checkbox> </li>

        <li class="li"> <mat-checkbox>Jammu &amp; Kashmir</mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Kupwara                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bore                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Keran                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bugna                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bichwal                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Mindiyan                     </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Patrin                       </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Juma Gund                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Khantha Wali (Shalun Bhatta) </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Har Duing                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Chunti Wari                  </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dudi                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dab Bal                      </mat-checkbox> </li>

        <li class="li"> <mat-checkbox>Jammu &amp; Kashmir</mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Kupwara                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bore                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Keran                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bugna                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bichwal                      </mat-checkbox> </li>
        <li class="li"> <mat-checkbox>Jammu &amp; Kashmir</mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Kupwara                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bore                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Keran                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bugna                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bichwal                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Mindiyan                     </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Patrin                       </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Juma Gund                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Khantha Wali (Shalun Bhatta) </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Har Duing                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Chunti Wari                  </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dudi                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dab Bal                      </mat-checkbox> </li>

        <li class="li"> <mat-checkbox>Jammu &amp; Kashmir</mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Kupwara                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bore                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Keran                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bugna                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bichwal                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Mindiyan                     </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Patrin                       </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Juma Gund                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Khantha Wali (Shalun Bhatta) </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Har Duing                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Chunti Wari                  </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dudi                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dab Bal                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Juma Gund                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Khantha Wali (Shalun Bhatta) </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Har Duing                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Chunti Wari                  </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dudi                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dab Bal                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Juma Gund                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Khantha Wali (Shalun Bhatta) </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Har Duing                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Chunti Wari                  </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dudi                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dab Bal                      </mat-checkbox> </li>

        <li class="li"> <mat-checkbox>Jammu &amp; Kashmir</mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Kupwara                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bore                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Keran                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bugna                        </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Bichwal                      </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Mindiyan                     </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Patrin                       </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Juma Gund                    </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dudi                         </mat-checkbox> </li>
        <li class="sub-li"> <mat-checkbox> Dab Bal                      </mat-checkbox> </li>

    </ul>
</div>

<!-- <div class="modal-footer">
	<button class="btn custom-btn"> Save </button>
</div> -->
