<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card" > 
                            <div class="card-header card-header-icon" data-background-color="orange">
                                <i class="material-icons">show_chart</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Template Analytics</h4>
                                <mat-tab-group>
								  	<mat-tab label="Category Template">
								  		<div class="row">
			                                <div class="dshbrd-table table-responsive">
			                                	<table class="table table-striped user-table" >
			                                        <thead class="text-danger">
				                                        <tr>
				                                            <th> Section Name </th>
				                                            <th> Category Name </th>
				                                            <th> Time Period </th>
				                                            <th> Category Template </th>
				                                            <th> Click through Conversion </th>
				                                            <th> Section-wise Click through rate </th>
				                                        </tr>
				                                       
				                                    </thead>
				                                    <tbody>
				                                        <tr *ngFor="let cat of categoryResult">
				                                        	<td> <a *ngFor="let catt of cat.categories" href="javascript:;"> {{catt.sectionName}} </a> </td>
				                                            <td>
				                                            	<a href="javascript:;" *ngFor="let catt of cat.categories">
				                                            		{{catt.sectionName}} | <span class="dark_ylw">{{catt.categoryName}} </span>
			                                                    </a>
		                                                    </td>
				                                            <td> <span  *ngFor="let catt of cat.categories">{{catt.startTime}} - {{catt.startTime}} </span></td>
				                                            <td> {{cat.templateName}} </td>
				                                            <td> 300 </td>
				                                            <td> 500 </td>
				                                        </tr>
				                                      <!--   <tr>
				                                        	<td> <a *ngFor="let catt of cat.categories" href="javascript:;"> {{catt.sectionName}} </a> </td>
				                                            <td>
				                                            	<a href="javascript:;" *ngFor="let catt of cat.categories">
				                                            		{{catt.sectionName}} | <span class="dark_ylw">{{catt.categoryName}} </span>
			                                                    </a>
		                                                    </td>
				                                            <td> <span  *ngFor="let catt of cat.categories">18th Aug, 09:00 AM - 19th Aug 10 PM </span></td>
				                                            <td> {{cat.templateName}} </td>
				                                            <td> 300 </td>
				                                            <td> 500 </td>
				                                        </tr>
				                                        <tr>
				                                        	<td> <a href="javascript:;"> News </a> </td>
				                                            <td>
				                                            	<a href="javascript:;">
				                                            		News | <span class="dark_ylw">Sports News</span>
			                                                    </a>
		                                                    </td>
				                                            <td> 18th Aug, 09:00 AM - 19th Aug 10 PM</td>
				                                            <td> Sport News </td>
				                                            <td> 300 </td>
				                                            <td> 500 </td>
				                                        </tr> -->

				                                    </tbody>
			                                    </table>
			                                </div>
		                                </div>
								  	</mat-tab>
								  	<mat-tab label="Listing View Template">
								  		<div class="row">
			                                <div class="dshbrd-table table-responsive">
			                                	<table class="table table-striped user-table" >
			                                        <thead class="text-danger">
				                                        <tr>
				                                            <th> Section Name </th>
				                                            <th> Category Name </th>
				                                            <th> Time Period </th>
				                                            <th> Listing View Template </th>
				                                            <th> Click through Conversion </th>
				                                            <th> Section-wise Click through rate </th>
				                                           <!--  <th> Avg. time spent / session </th> -->
				                                        </tr>
				                                       
				                                    </thead>
				                                    <tbody>
				                                        <tr>
				                                        	<td> <a href="javascript:;"> News </a> </td>
				                                            <td>
				                                            	<a href="javascript:;">
				                                            		News | <span class="dark_ylw">Sports News</span>
			                                                    </a>
		                                                    </td>
				                                            <td> 18th Aug, 09:00 AM - 19th Aug 10 PM</td>
				                                            <td> Sport News </td>
				                                            <td> 300 </td>
				                                            <td> 500 </td>
				                                            <td> 50 </td>
				                                        </tr>
				                                        <tr>
				                                        	<td> <a href="javascript:;"> News </a> </td>
				                                            <td>
				                                            	<a href="javascript:;">
				                                            		News | <span class="dark_ylw">Sports News</span>
			                                                    </a>
		                                                    </td>
				                                            <td> 18th Aug, 09:00 AM - 19th Aug 10 PM</td>
				                                            <td> Sport News </td>
				                                            <td> 300 </td>
				                                            <td> 500 </td>
				                                            <td> 50 </td>
				                                        </tr>
				                                        <tr>
				                                        	<td> <a href="javascript:;"> News </a> </td>
				                                            <td>
				                                            	<a href="javascript:;">
				                                            		News | <span class="dark_ylw">Sports News</span>
			                                                    </a>
		                                                    </td>
				                                            <td> 18th Aug, 09:00 AM - 19th Aug 10 PM</td>
				                                            <td> Sport News </td>
				                                            <td> 300 </td>
				                                            <td> 500 </td>
				                                           <!--  <td> 50 </td> -->
				                                        </tr>

				                                    </tbody>
			                                    </table>
			                                </div>
		                                </div>
								  	</mat-tab>
								</mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

</div>