.modal-body{
  width: 100%;
  float: left;
  padding: 10px;
  background-color: #fff;
}

$primary: "primary";
$info: "info";
$warning: "warning";
$success: "success";
$danger: "danger";
$rose: "rose";
$gray: "gray";

$color-primary: #9c27b0;
$color-info: #00bcd4;
$color-warning: #FFCC00;
$color-success: #4caf50;
$color-danger: #f44336;
$color-rose: #e91e63;
$color-gray: #999999;

$red: "red";
$orange: "orange";
$yellow: "yellow";
$blue: "blue";
$green: "green";
$purple: "purple";
$pink: "pink";

$color-red: #E90040;
$color-orange: #FB761E;
$color-yellow: #FFCC00;
$color-blue: #0099CC;
$color-green: #01B5B7;
$color-purple: #372FD0;
$color-pink: #DD0079;

$color-facebook: #425796;
$color-whatsapp: #27AF2B;


.inner-card h4 {
  margin: 0;
}

.font-400{
  font-weight: 400;
}

.yellow-brd{
  border-bottom: 4px solid #ffcc00;
}
.dashed-brd{
  border-bottom: 1px dashed #777;
}

/* 
.color-#{$red}{
  .line{
    border-top: 3px solid $color-red;
  }
  .suggested-icons {
    background-color: $color-red;
  }
  .text-red{
    color: $color-red;
    font-weight: normal;
  }
} 
.color-#{$orange}{
  .line{
    border-top: 3px solid $color-orange;
  }
  .suggested-icons {
    background-color: $color-orange;
  }
  .text-red{
    color: $color-orange;
    font-weight: normal;
  }
} 

.color-#{$yellow}{
  .line{
    border-top: 3px solid $color-yellow;
  }
  .suggested-icons {
    background-color: $color-yellow;
  }
  .text-red{
    color: $color-yellow;
    font-weight: normal;
  }
} 

.color-#{$blue}{
  .line{
    border-top: 3px solid $color-blue;
  }
  .suggested-icons {
    background-color: $color-blue;
  }
  .text-red{
    color: $color-blue;
    font-weight: normal;
  }
} 
.color-#{$purple}{
  .line{
    border-top: 3px solid $color-purple;
  }
  .suggested-icons {
    background-color: $color-purple;
  }
  .text-red{
    color: $color-purple;
    font-weight: normal;
  }
} 
.color-#{$pink}{
  .line{
    border-top: 3px solid $color-pink;
  }
  .suggested-icons {
    background-color: $color-pink;
  }
  .text-red{
    color: $color-pink;
    font-weight: normal;
  }
} 
.color-#{$green}{
  .line{
    border-top: 3px solid $color-green;
  }
  .suggested-icons {
    background-color: $color-green;
  }
  .text-red{
    color: $color-green;
    font-weight: normal;
  }
} 

.suggested-div {
  width: 100%;
  float: left;
  .suggested-text {
    width: calc(100% - 30px);
    float: left;
    font-weight: 600;
    font-size: 16px;
  }
}
.suggested-icons {
  width: 25px;
  float: right;
  border-radius: 50px;
  color: #fff;
  height: 25px;
  text-align: center;
  line-height: 25px;
  i{
    font-size: 18px;
  }

}
.list-view7 .view-lists.grid-1 img {
  max-width: 48%;
}
.view-lists.grid-1 img {
  float: left;
  max-width: 120px;
}
.list-view7 .list-text-wrap {
  margin-left: 50%;
}


.list-view .view-lists .detail-text {
  height: 30px;
}
.list-text-wrap {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  flex-direction: column;
  margin-left: 127px;
  padding-right: 28px;
  position: relative;
}
.list-view .view-lists > a {
  display: block;
  overflow: hidden;
  position: relative;
}
.view-lists .line {
  float: left;
  margin: 6px 0 0;
  width: 100%;
}
 */

.color-#{$red}{
  .line{
    border-top: 3px solid $color-red;
  }
  .suggested-icons {
    background-color: $color-red;
  }
  .text-red{
    color: $color-red;
    font-weight: normal;
  }
} 
.color-#{$orange}{
  .line{
    border-top: 3px solid $color-orange;
  }
  .suggested-icons {
    background-color: $color-orange;
  }
  .text-red{
    color: $color-orange;
    font-weight: normal;
  }
} 

.color-#{$yellow}{
  .line{
    border-top: 3px solid $color-yellow;
  }
  .suggested-icons {
    background-color: $color-yellow;
  }
  .text-red{
    color: $color-yellow;
    font-weight: normal;
  }
} 

.color-#{$blue}{
  .line{
    border-top: 3px solid $color-blue;
  }
  .suggested-icons {
    background-color: $color-blue;
  }
  .text-red{
    color: $color-blue;
    font-weight: normal;
  }
} 
.color-#{$purple}{
  .line{
    border-top: 3px solid $color-purple;
  }
  .suggested-icons {
    background-color: $color-purple;
  }
  .text-red{
    color: $color-purple;
    font-weight: normal;
  }
} 
.color-#{$pink}{
  .line{
    border-top: 3px solid $color-pink;
  }
  .suggested-icons {
    background-color: $color-pink;
  }
  .text-red{
    color: $color-pink;
    font-weight: normal;
  }
} 
.color-#{$green}{
  .line{
    border-top: 3px solid $color-green;
  }
  .suggested-icons {
    background-color: $color-green;
  }
  .text-red{
    color: $color-green;
    font-weight: normal;
  }
} 

.view-lists .line {
  margin: 6px 0 0;
  width: 100%;
  float: left;
}
.view-lists.grid-3 .line, .view-lists.grid-2 .line{
  margin: 3px 0;
}
/* .view-lists.grid-1 .line{
  margin: 6px 0 0;
  float: left;
  width: 100%;
} */
  
.view-lists{
  float: left;
  width: 100%;
  position: relative;
}


.suggested-div {
  width: 100%;
  float: left;
  /* border-top: 3px solid $color-primary; */
  /* margin-top: 5px;
  padding-top: 5px; */
  
  .suggested-text {
    width: calc(100% - 30px);
    float: left;
    font-weight: 600;
    font-size: 16px;
  }
}
.suggested-icons {
  width: 25px;
  float: right;
  border-radius: 50px;
  /* background-color: $color-primary; */
  color: #fff;
  height: 25px;
  text-align: center;
  line-height: 25px;
  i{
    font-size: 18px;
  }
}


.list-view{
  width: 100%;
  float: left;
  padding: 3px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: wrap;
  background-color: #fff;
  .view-lists{
    float: left;
    padding: 3px;
    > a {
      display: block;
      overflow: hidden;
      position: relative;
    }
    .detail-text{
      height: 30px;
    }
  }
}

.view-lists.grid-2 > a img, .view-lists.grid-3 > a img {
  width: 100%;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  /* color: $mat-red:(50); */
}

.detail-text{
  width: 100%;
  float: left;
  font-size: 13px;
  overflow: hidden;
  line-height: normal;
  font-weight: normal;
}

.grid-2{
  width: 50%;
}
.grid-3{
  width: 33.33%;
}


.big-view{
  width: 100%;
  float: left;
  padding: 3px; 
}
.innerbig-view{
  width: 100%;
  float: left;
  position: relative;
}
.innerbig-view > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text{
  width: 100%;
  max-height: 65px;
  top: auto;
  left: 0;
  bottom: 0;
  margin: 0;
  padding:10px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  position: absolute;
  border-radius: 0 0 5px 5px;
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(58,85,107,0.23) 100%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%,rgba(58,85,107,0.23) 100%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(58,85,107,0.23) 100%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 );  
}
.img-effect{
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);  
}


/*-----List view3-------*/

.list-view3{
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}
.list-view3 .big-view{
  padding: 0
}
.list-view3 .big-view .overlay-text{
  border-radius: 0;
}
.list-view3 .view-lists{
  width: 100%;
  padding: 6px 6px 0;
  float: left;
  a{
    width: 100%;
    float: left;
    display: block;
  }
}
.list-view3 .view-lists:last-child{
    padding: 6px;
}

.view-lists.grid-1 img{
  max-width: 120px;
  float: left;
}
.list-text-wrap{
  margin-left: 127px;
  padding-right: 28px;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  flex-direction: -webkit-column;
  flex-direction: -moz-column;
  flex-direction: -ms-column;
  flex-direction: -o-column;
  flex-direction: column;
}
.list-view3 .suggested-div{
  margin: 0;
  padding:0;
  .suggested-text{
    width: 100%;
  }
}
.abs-align{
  position: absolute;
  top: 34%;
  right: 0;
}
.one-heading{
  min-height: 75px;
}

.simple-list {
  width: 100%;
  float: left;
  padding-left: 6px;
  position: relative;
}

.list-view7 .list-text-wrap {
  margin-left: 50%;
}
.list-view7 .view-lists.grid-1 img {
  max-width: 48%;
}

.list-view7 .view-lists.grid-1.right-view img {
  max-width: 48%;
  margin-left: 52%;
  float: none;
}
.list-view7 .view-lists.grid-1.right-view .list-text-wrap {
  width: 50%;
  float: left;
  margin: 0;
  padding-right: 0;
  padding-left: 28px;
}
.list-view7 .view-lists.grid-1.right-view .abs-align {
  right: auto;
  left: 0;
}

.list-view8 {
  display: flex;
  flex-flow: row wrap;
  float: left;
  width: 100%;
}
.list-view8 > div {
  max-width: 33.33%;
  padding: 1px;
}
.list-view8 > div > a {
  display: block;
}
.list-heading {
  float: left;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  width: 100%;
}
.list-heading i {
  font-size: 18px;
}