.modal-body{
  width: 100%;
  float: left;
  padding: 10px;
  background-color: #fff;
}

$primary: "primary";
$info: "info";
$warning: "warning";
$success: "success";
$danger: "danger";
$rose: "rose";
$gray: "gray";

$color-primary: #9c27b0;
$color-info: #00bcd4;
$color-warning: #FFCC00;
$color-success: #4caf50;
$color-danger: #f44336;
$color-rose: #e91e63;
$color-gray: #999999;

$red: "red";
$orange: "orange";
$yellow: "yellow";
$blue: "blue";
$green: "green";
$purple: "purple";
$pink: "pink";

$color-red: #E90040;
$color-orange: #FB761E;
$color-yellow: #FFCC00;
$color-blue: #0099CC;
$color-green: #01B5B7;
$color-purple: #372FD0;
$color-pink: #DD0079;

$color-facebook: #425796;
$color-whatsapp: #27AF2B;


.inner-card h4 {
  margin: 0;
}

.font-400{
  font-weight: 400;
}

.yellow-brd{
  border-bottom: 4px solid #ffcc00;
}
.dashed-brd{
  border-bottom: 1px dashed #777;
}


.color-#{$red}{
  .line{
    border-top: 3px solid $color-red;
  }
  .suggested-icons {
    background-color: $color-red;
  }
  .text-red{
    color: $color-red;
    font-weight: normal;
  }
} 
.color-#{$orange}{
  .line{
    border-top: 3px solid $color-orange;
  }
  .suggested-icons {
    background-color: $color-orange;
  }
  .text-red{
    color: $color-orange;
    font-weight: normal;
  }
} 

.color-#{$yellow}{
  .line{
    border-top: 3px solid $color-yellow;
  }
  .suggested-icons {
    background-color: $color-yellow;
  }
  .text-red{
    color: $color-yellow;
    font-weight: normal;
  }
} 

.color-#{$blue}{
  .line{
    border-top: 3px solid $color-blue;
  }
  .suggested-icons {
    background-color: $color-blue;
  }
  .text-red{
    color: $color-blue;
    font-weight: normal;
  }
} 
.color-#{$purple}{
  .line{
    border-top: 3px solid $color-purple;
  }
  .suggested-icons {
    background-color: $color-purple;
  }
  .text-red{
    color: $color-purple;
    font-weight: normal;
  }
} 
.color-#{$pink}{
  .line{
    border-top: 3px solid $color-pink;
  }
  .suggested-icons {
    background-color: $color-pink;
  }
  .text-red{
    color: $color-pink;
    font-weight: normal;
  }
} 
.color-#{$green}{
  .line{
    border-top: 3px solid $color-green;
  }
  .suggested-icons {
    background-color: $color-green;
  }
  .text-red{
    color: $color-green;
    font-weight: normal;
  }
} 

.suggested-div {
  width: 100%;
  float: left;
  /* border-top: 3px solid $color-primary; */
  /* margin-top: 5px;
  padding-top: 5px; */
  
  .suggested-text {
    width: calc(100% - 30px);
    float: left;
    font-weight: 600;
    font-size: 16px;
  }
}
.suggested-icons {
  width: 25px;
  float: right;
  border-radius: 50px;
  /* background-color: $color-primary; */
  color: #fff;
  height: 25px;
  text-align: center;
  line-height: 25px;
  i{
    font-size: 18px;
  }

}
.list-view7 .view-lists.grid-1 img {
  max-width: 48%;
}
.view-lists.grid-1 img {
  float: left;
  max-width: 120px;
}
.list-view7 .list-text-wrap {
  margin-left: 50%;
}


.list-view .view-lists .detail-text {
  height: 30px;
}
.list-text-wrap {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  flex-direction: column;
  margin-left: 127px;
  padding-right: 28px;
  position: relative;
}
.list-view .view-lists > a {
  display: block;
  overflow: hidden;
  position: relative;
}
.view-lists .line {
  float: left;
  margin: 6px 0 0;
  width: 100%;
}