<div class="modal-header">
	<h4 class="modal-title" >List of Admins</h4>
	<a (click)="onClosed()"><i class="fa fa-times"></i></a>
</div>
<div class="modal-body">
    <mat-list *ngIf="adminData">
		<mat-list-item *ngFor="let name of adminData"><span *ngIf="validate(name.sectionName)==true">{{name.firstName}} {{name.lastName}} </span> </mat-list-item>
		<!-- <mat-list-item> Admin2 </mat-list-item>
		<mat-list-item> Admin3 </mat-list-item>
		<mat-list-item> Admin3 </mat-list-item>
		<mat-list-item> Admin3 </mat-list-item>
		<mat-list-item> Admin3 </mat-list-item>
		<mat-list-item> Admin3 </mat-list-item>
 -->
	</mat-list>
</div>
<!-- <div class="modal-footer">
    <a class="btn btn-danger"> Cancel </a>
</div> -->