<div class="modal-header">
	<h4 class="modal-title" >List of Admins</h4>
	<a (click)="onClosed()"><i class="fa fa-times"></i></a>
</div>
<div class="modal-body">
    <md-list>
		<md-list-item> Admin1 </md-list-item>
		<md-list-item> Admin2 </md-list-item>
		<md-list-item> Admin3 </md-list-item>
		<md-list-item> Admin3 </md-list-item>
		<md-list-item> Admin3 </md-list-item>
		<md-list-item> Admin3 </md-list-item>
		<md-list-item> Admin3 </md-list-item>

	</md-list>
</div>
<!-- <div class="modal-footer">
    <a class="btn btn-danger"> Cancel </a>
</div> -->