<div class="wrapper">
    <div class="loader-box" *ngIf="waitLoader">
         <img src="./assets/img/netpar_logo.gif" class="img-responsive" />
    </div>
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                    	<div class="card m-t-0">
                    		<div class="card-content">
	                            <div class="select-head">
	                                <span class="hed"> Selected filter </span> | <span class="clar-filter" (click)="clearAll()"> Clear Filter </span>
	                            </div>
	                            <ul class="slctd-fltrli" type="none">
	                                <li *ngFor="let lang of filterLanguageFilterPan" > {{lang}} <span (click)="onClearLangFilter(lang)"> <i class="fa fa-times"></i> </span> </li>
                                    <li *ngFor="let sec of filterSectionFilterPan"> {{findSec(sec)}} <span (click)="onClearSectionFilter(sec,findSec(sec))"> <i class="fa fa-times"></i> </span> </li>
                                    <li *ngFor="let cat of filterCategoryFilterPan"> {{findCat(cat._id)}} <span (click)="onClearCategoryFilter(cat._id,findCat(cat._id))"> <i class="fa fa-times"></i> </span> </li>
                                    <li *ngFor="let subCat of filterSubcategoryFilterPan"> {{findSubCat(subCat._id)}} <span (click)="onClearSubCategoryFilter(subCat._id,findSubCat(subCat._id))"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="underReview"> Under Review <span (click)="onClearunderReviewFilter('Under Review')"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="Published"> Published <span (click)="onClearPublishedFilter('Published')"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="Rejected"> Rejected <span (click)="onClearRejectedFilter('Rejected')"> <i class="fa fa-times"></i> </span> </li>
	                            </ul>
                          	</div>
                        </div>
                        <div class="card" > 
                            <div class="card-header card-header-icon" data-background-color="orange">
                                <i class="material-icons">description</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">User Contribution Management</h4>
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <button class="btn btn-round btn-mat btn-disabled btn-warning" [disabled]="selectedId.length==0" (click)="onUnderReview('Under Review')">Under Review</button>
                                        <button class="btn btn-round btn-mat btn-disabled btn-success" [disabled]="selectedId.length==0" (click)="onPublished('Published')">Published</button>
                                        <button class="btn btn-round btn-mat btn-disabled btn-danger" [disabled]="selectedId.length==0" (click)="onRejected('Rejected')">Rejected </button>
                                        <!-- <button class="btn btn-round btn-mat btn-disabled btn-danger"  (click)="onDownload('Rejected')">Rejected </button> -->
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <mat-form-field>
                                                <mat-select placeholder="Items per page">
                                                    <mat-option value="1"> 25 </mat-option>
                                                    <mat-option value="2"> 50 </mat-option>
                                                    <mat-option value="3"> 100 </mat-option>
                                                    <mat-option value="4"> 200 </mat-option>
                                                    <mat-option value="4"> All </mat-option>
                                                </mat-select>
                                           </mat-form-field>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <mat-form-field>
                                                <mat-select placeholder="Time Range">
                                                    <mat-option value="1"> 7d </mat-option>
                                                    <mat-option value="2"> 15d </mat-option>
                                                    <mat-option value="3"> 1m </mat-option>
                                                    <mat-option value="4"> 3m </mat-option>
                                                    <mat-option value="4"> 6m </mat-option>
                                                    <mat-option value="4"> 1y </mat-option>
                                                    <mat-option value="4"> All </mat-option>
                                                </mat-select>
                                           </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="user-cont-table table-responsive">
                                        <table class="table table-striped font12">    
                                            <thead class="text-danger">
                                                <tr>
                                                    <th> </th>
                                                    <th class="text-center"> Profile </th>
                                                    <th> Text Input </th>
                                                    <th> Media </th>
                                                    <th> Time Stamp </th>
                                                    <th> Status </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let contri of userContriData">
                                                    <td>
                                                        <mat-checkbox [(ngModel)]="contri.editcheck" (change)="onCheckBox(contri._id)"></mat-checkbox>
                                                    </td>
                                                    
                                                    <td class="td-wdth31">
                                                        <div class="cont-img dp">
                                                            <img [src]="getUserImage(contri.userId)" class="img-responsive" />
                                                        </div>
                                                        <div class="cont-dtl">
                                                            <p> {{contri.userName}} </p>
                                                            <p> {{getUserState(contri.userId)}} | {{getUserDistrict(contri.userId)}} |  {{getUserBlock(contri.userId)}} </p>
                                                            <p> <strong> Contact No: </strong> {{contri.mobile}} </p>
                                                            <p> <strong> User Id: </strong> {{contri.userId}} </p>
                                                            <div class=""> 
                                                                <a href="javascript:;">
                                                                    {{contri.sectionName}} | <span class="dark_ylw">{{contri.categoryName}}</span> | <span class="dark_ylw">{{contri.subCategoryName}}</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="td-wdth15">
                                                        <p> {{contri.description}} </p>
                                                    </td>
                                                    <td class="td-wdth25">
                                                        <div class="media-box" *ngFor="let media of contri.media; let j=index">
                                                            <p><a class="text-primary" > Media{{j+1}} <i class="material-icons" (click)="openMedia(media.url,media.type)">file_download</i> </a> | Type: {{media.type}} | Size: {{getSize(media.size)}} </p>
                                                        </div>
                                                    </td>
                                                    <td class="td-wdth9"><p>{{getTime(contri.dateOfCreation)}}</p>
                                                    <p> {{getDate(contri.dateOfCreation)}} </p> </td> 
                                                    <td> 
                                                        {{contri.status}}
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <owl-date-time [(ngModel)]="moment" ></owl-date-time> -->
        <app-footer></app-footer>
    </div>
    <div class="fixed-plugin">
	    <div class="filter-plugin">
	        <a href="javascript:void(0);">
	            <i class="material-icons">sort</i>
	        </a>
	        <ul class="sidebar-filter" type="none">
	        	<div class="left-content">
	        		<div class="close-filter"> <span> <i class="fa fa-times"></i> </span> </div>
                    <!-- <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Select State</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><mat-checkbox>State1</mat-checkbox></li>
                                <li><mat-checkbox>State2</mat-checkbox></li>
                                <li><mat-checkbox>State3</mat-checkbox></li>
                                <li><mat-checkbox>State4</mat-checkbox></li>
                            </ul>
                        </div>
                    </div> -->

                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Select Language</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li *ngFor="let lang of stringResource.language" ><mat-checkbox [(ngModel)]="lang.check" (change)="onSelectLang(lang)">{{lang.language}}</mat-checkbox></li>
                               <!--  <li><mat-checkbox>Language2</mat-checkbox></li>
                                <li><mat-checkbox>Language3</mat-checkbox></li>
                                <li><mat-checkbox>Language4</mat-checkbox></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Section</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li  *ngFor="let sec of sections" ><mat-checkbox [(ngModel)]="sec.check" (change)="forSection(sec)">{{sec.sectionName}}</mat-checkbox></li>
                                <!-- <li><mat-checkbox>Jobs</mat-checkbox></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Category </h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li  *ngFor="let cat of categories" ><mat-checkbox [(ngModel)]="cat.check" (change)="forCategory(cat)">{{cat.categoryName}}</mat-checkbox></li>
                              <!--   <li><mat-checkbox>Technology News</mat-checkbox></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Sub-Category </h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li  *ngFor="let subcat of subCategory" ><mat-checkbox [(ngModel)]="subcat.check" (change)="forSubCategory(subcat)">{{subcat.subCategoryName}}</mat-checkbox></li>
                               <!--  <li><mat-checkbox>Cricket</mat-checkbox></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Status</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                  <li  *ngFor="let stat of status" ><mat-checkbox [(ngModel)]="stat.check" (change)="forStatus(stat)">{{stat.value}}</mat-checkbox></li>                         
                            </ul>
                        </div>
                    </div>
                    <div class="btns-filter">
                        <a class="btn custom-btn close-filter" (click)="onApplyFilter()">Apply Filter </a>
                        
                    </div>

                </div>
	        </ul>
	    </div>
	</div>

</div>