<div class="wrapper">
    <div class="loader-box" *ngIf="waitLoader">
         <img src="./assets/img/netpar_logo.gif" class="img-responsive" />
    </div>
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        
                        <div class="card m-t-0">
                            <div class="card-content">
                                <div class="select-head">
                                    <span class="hed"> Selected filter </span> | <span class="clar-filter" (click)="clearAll()"> Clear Filter </span>
                                </div>
                                <ul class="slctd-fltrli" type="none">
                                    <li *ngFor="let lang of filterLanguageFilterPan" > {{lang}} <span (click)="onClearLangFilter(lang)"> <i class="fa fa-times"></i> </span> </li>
                                    <li *ngFor="let sec of filterSectionFilterPan"> {{findSec(sec)}} <span (click)="onClearSectionFilter(sec)"> <i class="fa fa-times"></i> </span> </li>
                                    <li *ngFor="let cat of filterCategoryFilterPan"> {{findCat(cat._id)}} <span (click)="onClearCategoryFilter(cat._id)"> <i class="fa fa-times"></i> </span> </li>
                                    <li *ngFor="let subCat of filterSubcategoryFilterPan"> {{findSubCat(subCat._id)}} <span (click)="onClearSubCategoryFilter(subCat._id)"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="saveAsDraftStatus"> Draft <span (click)="onClearDraftFilter(saveAsDraftStatus)"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="rejectStatus"> Rejected <span (click)="onClearRejectFilter(rejectStatus)"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="sendForRevisionStatus"> Revision <span (click)="onClearRevisionFilter(sendForRevisionStatus)"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="publishLaterStatus"> Scheduled <span (click)="onClearScheduledFilter(publishLaterStatus)"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="publishStatus"> Published <span (click)="onClearPublishedFilter(publishStatus)"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="activePriority"> Active priority content <span (click)="onClearactivePriorityFilter(activePriority)"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="completed"> Completed priority content <span (click)="onClearcompletedFilter(completed)"> <i class="fa fa-times"></i> </span> </li>
                                    <li  *ngIf="future"> Scheduled content <span (click)="onClearfutureFilter(future)"> <i class="fa fa-times"></i> </span> </li>
                                    <!-- <li  *ngIf="filterLanguageSingle"> {{filterLanguageSingle}}<span (click)="onClearSingleFilter(filterLanguageSingle)"> <i class="fa fa-times"></i> </span> </li> -->
                                </ul>
                            </div>
                        </div>

                        <div class="card" > 
                            <div class="card-header card-header-icon" data-background-color="orange">
                                <i class="material-icons">person</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">User Management</h4>
                                <div class="row">
                                    <div class="col-md-5 col-sm-5 col-xs-12 p-0">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                        <mat-form-field>
                                                <mat-select placeholder="Items per page" [(ngModel)]="limitedFilter.perPage" name="perpage" (change)="onPerPage(limitedFilter.perPage)">
                                                    <mat-option value="25"> 25 </mat-option>
                                                    <mat-option value="50"> 50 </mat-option>
                                                    <mat-option value="100"> 100 </mat-option>
                                                    <mat-option value="200"> 200 </mat-option>
                                                    <mat-option value="All"> All </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <mat-form-field>
                                                <mat-select placeholder="Time Range" [(ngModel)]="limitedFilter.range" name="range" (change)="onRange(limitedFilter.range)">
                                                    <mat-option value="7d"> 7d </mat-option>
                                                    <mat-option value="15d"> 15d </mat-option>
                                                    <mat-option value="1m"> 1m </mat-option>
                                                    <mat-option value="3m"> 3m </mat-option>
                                                    <mat-option value="6m"> 6m </mat-option>
                                                    <mat-option value="1y"> 1y </mat-option>
                                                    <mat-option value="all"> all </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-12 p-0">
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                        <mat-form-field>
                                            <mat-select placeholder="State" multiple [(ngModel)]="limitedFilter.state" name="state">
                                              <mat-option [disabled]="state.name!='Maharashtra'" *ngFor="let state of stateListState" [value]="state.name"> {{state.name}} </mat-option>
                                                <!-- <mat-option value="2"> State2 </mat-option>
                                                <mat-option value="3"> State3 </mat-option>
                                                <mat-option value="4"> State4 </mat-option>
                                                <mat-option value="4"> State5 </mat-option> -->
                                            </mat-select>
                                        </mat-form-field>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <button class="btn btn-success" (click)="openDialog2()"> District + </button>
                                        </div>
                                        <!-- <div class="col-md-3 col-sm-3 col-xs-12">
                                            <button class="btn btn-success" (click)="openDialog2()"> Block + </button>
                                        </div> -->
                                    </div>

                                    <div class="p-lr-15 pull-right">
	                                	<div class="dropdown right chck">
                                            <a href="javascript:;" class="cusdropdown-toggle btn btn-success">
                                                <i class="material-icons">tune</i>
                                            </a>
                                            <ul class="dropdown-menu">
												<li> <a> <mat-checkbox value="1"> Time spent             </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="2"> Avg time spent/day     </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="3"> Avg time Spent/session </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="4"> Page views             </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="5"> Avg Page views/session </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="6"> Number of sesions      </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="7"> Last seen online       </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="8"> Number of comments     </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="9"> Number of likes        </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="10"> Number of saves       </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="11"> Number of downloads   </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="12"> Number of invites     </mat-checkbox> </a> </li>
												<li> <a> <mat-checkbox value="13"> Number of coversions  </mat-checkbox> </a> </li>
                                            </ul>
                                        </div>
	                                </div>
	                            </div>

                                <div class="row">
	                                <div class="dshbrd-table table-responsive">
	                                	<table class="table table-striped user-table"  matSort (matSortChange)="sortData($event)">
	                                        <thead class="text-danger">
		                                        <tr>
		                                            <th> Platform User Profile </th>
		                                            <th colspan="7"> Platform Interaction </th>
		                                            <th colspan="5"> User Engagement </th>
		                                            <th colspan="4"> Call To Action </th>
		                                            <th> Influencer </th>
		                                            <th> Referral Code </th>
		                                        </tr>
		                                        <tr>
                                                    <th> </th>
                                                    <th mat-sort-header="session"> No of Sessions </th>
                                                    <th mat-sort-header="time"> Total Time Spent</th>
                                                    <th mat-sort-header="avgs" >Avg Time Spent/Session </th>
                                                    <th mat-sort-header="avgd"> Avg Time Spent/Day </th>
                                                    <th mat-sort-header="page"> Page Views </th>
                                                    <th mat-sort-header="avgp"> Avg Page Views/Session </th>
                                                    <th mat-sort-header="online"> Last Online </th>
                                                    <th mat-sort-header="Like">
                                                        <a matTooltipPosition="above"  matTooltip="Like" class="tltip_ico">
                                                            <!-- <mfDefaultSorter by="thumb"> <i class="icon-okay"></i> </mfDefaultSorter> --> <i class="icon-okay"></i>
                                                        </a>
                                                    </th>
                                                    <th mat-sort-header="share">
                                                        <a matTooltipPosition="above"  matTooltip="Share" class="tltip_ico">
                                                           <!--  <mfDefaultSorter by="share"> <i class="fa fa-share-alt"></i> </mfDefaultSorter>  -->
                                                            <i class="fa fa-share-alt"></i>
                                                        </a>
                                                    </th>
                                                    <th mat-sort-header="comment">
                                                        <a matTooltipPosition="above"  matTooltip="Comment" class="tltip_ico">
                                                            <!-- <mfDefaultSorter by="comment"> <i class="icon-msg"></i> </mfDefaultSorter>  --><i class="icon-msg"></i>
                                                        </a>
                                                    </th>
                                                    <th mat-sort-header="save">
                                                        <a matTooltipPosition="above"  matTooltip="Save" class="tltip_ico">
                                                            <!-- <mfDefaultSorter by="square"> <i class="icon-badge"></i> </mfDefaultSorter>  --><i class="icon-badge"></i>
                                                        </a>
                                                    </th>
                                                    <th mat-sort-header="download">
                                                        <a matTooltipPosition="above"  matTooltip="Download" class="tltip_ico">
                                                            <!-- <mfDefaultSorter by="download"> <i class="icon-donload"></i> </mfDefaultSorter>  --><i class="icon-donload"></i>
                                                        </a>
                                                    </th>
                                                    <th mat-sort-header="Submission">
                                                        <a matTooltipPosition="above"  matTooltip="Submission" class="tltip_ico">
                                                            <!-- <mfDefaultSorter by="text"> <i class="icon-check"></i> </mfDefaultSorter>  --><i class="icon-check"></i>
                                                        </a>
                                                    </th>
                                                    <th mat-sort-header="Call">
                                                        <a matTooltipPosition="above"  matTooltip="Call" class="tltip_ico">
                                                           <!--  <mfDefaultSorter by="phone"> <i class="icon-call"></i> </mfDefaultSorter> --> <i class="icon-call"></i>
                                                        </a>
                                                    </th>
                                                    <th mat-sort-header="CallMeBack">
                                                        <a matTooltipPosition="above"  matTooltip="Call Me Back" class="tltip_ico">
                                                            <!-- <mfDefaultSorter by="volume"> <i class="icon-callme"></i> </mfDefaultSorter> --><i class="icon-callme"></i> 
                                                        </a>
                                                    </th>
                                                    <th mat-sort-header="Publications">
                                                        <a matTooltipPosition="above"  matTooltip="Publications" class="tltip_ico">
                                                            <!-- <mfDefaultSorter by="check"> <i class="icon-click"></i> </mfDefaultSorter> --> <i class="icon-click"></i>
                                                        </a>
                                                    </th>

                                                    <th></th>
                                                    <th></th>

                                                </tr>
		                                    </thead>
		                                    <tbody>
		                                        <tr *ngFor="let user of userData;let i=index">
		                                            <td *ngIf="i<limit" class="text-left">
                                                        <div class="cont-img dp">
                                                            <img [src]="user.userImage" class="img-responsive" />
                                                            <div class="text-switch text-center">
                                                                <span *ngIf="!user.status">Enable </span>
                                                                <span *ngIf="user.status">Disable </span>
                                                                <span class="cus-switch">
                                                                    <label class="switch m-b-0">
                                                                        <input type="checkbox" [(ngModel)]="user.status"  (change)="onStatusChange(user)"/>
                                                                        <span class="slider round"></span>
                                                                    </label>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="media-box cont-dtl">
                                                            <p> {{user.firstName}}{{user.lastNmae}}</p>
                                                            <p> {{user.blockRegional}} | {{user.districtRegional}} | {{user.stateRegional}} </p>
                                                            <p class="{{mobileVerification(user.mobileVerified)}}"> {{user.mobileNumber}} </p>
                                                        </div>
                                                    </td>
		                                            <td *ngIf="i<limit"> {{user.totalSessions}} </td>
		                                            <td *ngIf="i<limit"> {{getTotalTime(user.totalTime)}} </td>
		                                            <td *ngIf="i<limit"> {{avgTimePerSession(user.totalTime,user.totalSessions)}} </td>
                                                    <td *ngIf="i<limit">{{avgTimePerDay(user.totalTime,user.dayCount)}} </td>
		                                            <td *ngIf="i<limit">{{user.totalPageViews}}</td>
		                                            <td *ngIf="i<limit"> {{avgPageViewPerSession(user.totalPageViews,user.totalSessions)}} </td>
		                                            <td *ngIf="i<limit" class="width10px"> <p> {{getTime(user.lastlogin)}} </p> <p>{{getDate(user.lastlogin)}}</p> </td>
		                                            <td *ngIf="i<limit"> {{user.totalLikes}}</td>
		                                            <td *ngIf="i<limit"> {{user.totalShares}} </td>
		                                            <td *ngIf="i<limit"> {{user.totalComments}}</td>
		                                            <td *ngIf="i<limit"> {{user.totalSaves}} </td>
		                                            <td *ngIf="i<limit"> {{user.totalDownloads}}</td>
		                                            <td *ngIf="i<limit"> {{user.totalSubmissions}}</td>
                                                    <td *ngIf="i<limit"> {{user.totalsCalls}}</td>
                                                    <td *ngIf="i<limit"> {{user.totalCallBacks}} </td>
		                                            <td *ngIf="i<limit">{{user.totalPublications}} </td>
		                                            <td *ngIf="i<limit"> 
                                                    	<div class="cus-switch user">
                                                            <span *ngIf="!user.influencer">Enable</span>
                                                            <span *ngIf="user.influencer"> Disable</span>
                                                            <label class="switch m-b-0">
                                                                <input type="checkbox" [(ngModel)]="user.influencer"  (change)="onInfluencerStatusChange(user)"/>
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                        <a href="javascript:void(0);" (click)="openDialog(user)"> View </a>
                                                    </td>
                                                    <td *ngIf="i<limit" class="media-box width20">
                                                    	<p> Referral code: {{user.referralCode}} </p>
                                                        <p> No. of invites: {{user.totalInvites}}</p>
                                                        <p> No. of conversation:{{user.totalConversations}} </p>
                                                    </td>

		                                        </tr>
                                               <!--  <tr>
                                                    <td class="text-left">
                                                        <div class="cont-img dp">
                                                            <img src="./assets/img/profile_user.jpg" class="img-responsive" />
                                                            <div class="text-switch text-center">
                                                                <span>Enable </span>
                                                                <span class="cus-switch">
                                                                    <label class="switch m-b-0">
                                                                        <input type="checkbox" />
                                                                        <span class="slider round"></span>
                                                                    </label>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="media-box cont-dtl">
                                                            <p> Jay Sinha </p>
                                                            <p> MH | Raigad | Panvel </p>
                                                            <p class="text-danger">9874563210 </p>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="i<limit"> 56 </td>
                                                    <td> 250 Hours 30 Min </td>
                                                    <td> 250 Hours 30 Min </td>
                                                    <td> 250 Hours 30 Min </td>
                                                    <td> 44 </td>
                                                    <td> 125 </td>
                                                    <td class="width10px"> <p> 10:00 AM </p> <p> 18-08-2017 </p> </td>
                                                    <td> 40 </td>
                                                    <td> 150 </td>
                                                    <td> 80 </td>
                                                    <td> 50 </td>
                                                    <td> 50 </td>
                                                    <td> 68 </td>
                                                    <td> 40 </td>
                                                    <td> 150 </td>
                                                    <td> 75 </td>
                                                    <td> 
                                                        <div class="cus-switch user">
                                                            <span>Enable</span>
                                                            <label class="switch m-b-0">
                                                                <input type="checkbox" />
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                        <a routerLink="/user" (click)="openDialog()"> View </a>
                                                    </td>
                                                    <td class="media-box width20">
                                                        <p> Referral code: UNXHIS0 </p>
                                                        <p> No. of invites: 4 </p>
                                                        <p> No. of conversation: 3 </p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="text-left">
                                                        <div class="cont-img dp">
                                                            <img src="./assets/img/profile_user.jpg" class="img-responsive" />
                                                            <div class="text-switch text-center">
                                                                <span>Enable </span>
                                                                <span class="cus-switch">
                                                                    <label class="switch m-b-0">
                                                                        <input type="checkbox" />
                                                                        <span class="slider round"></span>
                                                                    </label>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="media-box cont-dtl">
                                                            <p> Jay Sinha </p>
                                                            <p> MH | Raigad | Panvel </p>
                                                            <p class="text-danger"> 9874563210 </p>
                                                        </div>
                                                    </td>
                                                    <td> 56 </td>
                                                    <td> 250 Hours 30 Min </td>
                                                    <td> 250 Hours 30 Min </td>
                                                    <td> 250 Hours 30 Min </td>
                                                    <td> 44 </td>
                                                    <td> 125 </td>
                                                    <td class="width10px"> <p> 10:00 AM </p> <p> 18-08-2017 </p> </td>
                                                    <td> 40 </td>
                                                    <td> 150 </td>
                                                    <td> 80 </td>
                                                    <td> 50 </td>
                                                    <td> 50 </td>
                                                    <td> 40 </td>
                                                    <td> 150 </td>
                                                    <td> 68 </td>
                                                    <td> 75 </td>
                                                    <td> 
                                                        <div class="cus-switch user">
                                                            <span>Enable</span>
                                                            <label class="switch m-b-0">
                                                                <input type="checkbox" />
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                        <a routerLink="/user" (click)="openDialog()"> View </a>
                                                    </td>
                                                    <td class="media-box width20">
                                                        <p> Referral code: UNXHIS0 </p>
                                                        <p> No. of invites: 4 </p>
                                                        <p> No. of conversation: 3 </p>
                                                    </td>

                                                </tr> -->

		                                    </tbody>
		                                    <tfoot>
	                                            <tr>
	                                                <td colspan="14">
	                                                    <!-- //<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator> -->
	                                                </td>
	                                            </tr>
                                            </tfoot>
	                                    </table>
	                                </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

    <div class="fixed-plugin">
	    <div class="filter-plugin">
	        <a href="javascript:void(0);" (click)="openFilter()">
	            <i class="material-icons">sort</i>
	        </a>
	        <ul class="sidebar-filter" type="none">
	        	<div class="left-content">
	        		<div class="close-filter"> <span> <i class="fa fa-times"></i> </span> </div>
                    <!-- <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Select State</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><mat-checkbox>State1</mat-checkbox></li>
                                <li><mat-checkbox>State2</mat-checkbox></li>
                                <li><mat-checkbox>State3</mat-checkbox></li>
                                <li><mat-checkbox>State4</mat-checkbox></li>
                            </ul>
                        </div>
                    </div> -->

                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Select Language</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><mat-checkbox>Language1</mat-checkbox></li>
                                <li><mat-checkbox>Language2</mat-checkbox></li>
                                <li><mat-checkbox>Language3</mat-checkbox></li>
                                <li><mat-checkbox>Language4</mat-checkbox></li>
                            </ul>
                        </div>
                    </div>

                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> State</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                             <!--   // <li *ngFor="let state of stateList"><mat-checkbox>State1</mat-checkbox></li> -->
                                <li><mat-checkbox [(ngModel)]="stateListState[0].check" [disabled]="stateListState[0].name!='Maharashtra'" (change)="onSateSelect(stateListState[0])">{{stateListState[0].name}} </mat-checkbox></li>
                                <li><mat-checkbox [disabled]="stateListState[1].name!='Maharashtra'">{{stateListState[1].name}}</mat-checkbox></li>
                                <li><a (click)="openDialog2()" href="javascript:void(0);">View More +</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> District</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none" *ngIf="stateListState[0].check">
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[0].check" (change)="onChangeDist(stateListState[0].dist[0].check,0)">{{stateListState[0].dist[0].name}}</mat-checkbox></li>
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[1].check" (change)="onChangeDist(stateListState[0].dist[1].check,1)">{{stateListState[0].dist[1].name}}</mat-checkbox></li>
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[2].check" (change)="onChangeDist(stateListState[0].dist[2].check,2)">{{stateListState[0].dist[2].name}}</mat-checkbox></li>
                                <li><a (click)="openDialog2()" href="javascript:void(0);">View More +</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Block</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none" *ngIf="stateListState[0].dist[0].check && activeDist==0">
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[0].block[0].check" >{{stateListState[0].dist[0].block[0].name}}</mat-checkbox></li>
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[0].block[1].check" >{{stateListState[0].dist[0].block[1].name}}</mat-checkbox></li>
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[0].block[2].check" >{{stateListState[0].dist[0].block[2].name}}</mat-checkbox></li>
                                <li><a (click)="openDialog2()" href="javascript:void(0);">View More +</a></li>
                            </ul>
                            <ul class="filters-ul" type="none" *ngIf="stateListState[0].dist[1].check && activeDist==1">
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[1].block[0].check" >{{stateListState[0].dist[1].block[0].name}}</mat-checkbox></li>
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[1].block[1].check" >{{stateListState[0].dist[1].block[1].name}}</mat-checkbox></li>
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[1].block[2].check" >{{stateListState[0].dist[1].block[2].name}}</mat-checkbox></li>
                                <li><a (click)="openDialog2()" href="javascript:void(0);">View More +</a></li>
                            </ul>
                            <ul class="filters-ul" type="none" *ngIf="stateListState[0].dist[2].check && activeDist==2">
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[2].block[0].check" >{{stateListState[0].dist[2].block[0].name}}</mat-checkbox></li>
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[2].block[1].check" >{{stateListState[0].dist[2].block[1].name}}</mat-checkbox></li>
                                <li><mat-checkbox [(ngModel)]="stateListState[0].dist[2].block[2].check" >{{stateListState[0].dist[2].block[2].name}}</mat-checkbox></li>
                                <li><a (click)="openDialog2()" href="javascript:void(0);">View More +</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading">Mobile Status</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><mat-checkbox>Unverified mobile number</mat-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">

                        <h5 class="filter-heading"> Active user</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><mat-checkbox>Hyper active</mat-checkbox></li>
                                <li><mat-checkbox>Moderatley active</mat-checkbox></li>
                                <li><mat-checkbox>active</mat-checkbox></li>
                                <li><mat-checkbox>Inactive</mat-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> Gender</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><mat-checkbox>Male</mat-checkbox></li>
                                <li><mat-checkbox>Female</mat-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapFilter-ul">
                        <h5 class="filter-heading"> User</h5>
                        <div class="wrapFilter-div">
                            <ul class="filters-ul" type="none">
                                <li><mat-checkbox>Influencers</mat-checkbox></li>
                                <li><mat-checkbox>Verified</mat-checkbox></li>
                                <li><mat-checkbox>Unverified</mat-checkbox></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btns-filter">
                        <a class="btn custom-btn">Apply Filter </a>
                    </div>

                </div>
	        </ul>
	    </div>
	</div>

</div>