.dshbrd-table table tbody td{
	padding: 5px 8px;
}
.cont-img.dp{
	width: 115px;
}
.cont-img.dp img{
	max-width: 80px;
}
.cont-dtl{
	margin-left: 120px;
}
table tbody td.width20{
	min-width: 200px;
}

.dshbrd-table table thead tr th{
	text-transform: unset;
}