<div class="modal-header">
	<h4 class="modal-title" >Languages <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span> </h4>
</div>
<div class="modal-body">
    <md-list>
		<md-list-item *ngFor="let lang Of language">{{lang.language}} </md-list-item>
		<!-- <md-list-item> Hindi </md-list-item>
		<md-list-item> Punjabi </md-list-item>
		<md-list-item> Gujrati </md-list-item>
		<md-list-item> Telugu </md-list-item>
		<md-list-item> English </md-list-item> -->

	</md-list>
</div>