
<div class="modal-header">
	<h4 class="modal-title" >Influencer <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span> </h4>
</div>
<div class="modal-body">
    <mat-list>
		<mat-list-item> No. of Invites: {{user.totalInvites}} </mat-list-item>
		<mat-list-item> No. of Shares: {{user.totalShare}} </mat-list-item>
		<mat-list-item> No. of Conversions: {{user.totalConversationss}} </mat-list-item>
		<mat-list-item class="text-uppercase"> <strong> Profile Details of Conversations: </strong> </mat-list-item>
		<mat-list-item> Full Name: {{user.firstName}}{{user.lastNmae}} </mat-list-item>
		<mat-list-item> User ID: {{user._id}} </mat-list-item>
		<mat-list-item> Mobile Number:  {{user.mobileNumber}} </mat-list-item>
		<mat-list-item> Unique Referral:  {{user.referralCode}} </mat-list-item>

	</mat-list>
</div>