
<div class="modal-header">
	<h4 class="modal-title" >Influencer <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span> </h4>
</div>
<div class="modal-body">
    <mat-list>
		<mat-list-item> No. of Invites: 50 </mat-list-item>
		<mat-list-item> No. of Shares: 20 </mat-list-item>
		<mat-list-item> No. of Conversions: 10 </mat-list-item>
		<mat-list-item class="text-uppercase"> <strong> Profile Details of Conversations: </strong> </mat-list-item>
		<mat-list-item> Full Name: Tania Andrew </mat-list-item>
		<mat-list-item> User ID: 85 </mat-list-item>
		<mat-list-item> Mobile Number: 8745962103 </mat-list-item>
		<mat-list-item> Unique Referral: 3622 </mat-list-item>

	</mat-list>
</div>