<div class="modal-header">
	<h4 class="modal-title" >Suggested Articles <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span> </h4>
</div>
<div class="modal-body">
    <div class="form-group col-md-3 col-sm-6 col-xs-12">
        <md-select placeholder="Select Section" [(ngModel)]="addContentRequest.sectionId" (change)="getCategory()">
            <md-option  *ngFor="let section of sections"  [value]="section._id" > {{section.sectionName}}</md-option>
            <!-- <md-option value="2"> Section2 </md-option>
            <md-option value="3"> Section3 </md-option>
            <md-option value="4"> Section4 </md-option> -->
        </md-select>
    </div>
    <div class="form-group col-md-3 col-sm-6 col-xs-12">
        <md-select placeholder="Select Category" [(ngModel)]="addContentRequest.categoryId" (change)="getsubCategory()">
            <md-option *ngFor="let category of categories"  [value]="category._id" > {{category.categoryName}}</md-option>
           <!--  <md-option value="2"> Category2 </md-option>
            <md-option value="3"> Category3 </md-option>
            <md-option value="4"> Category4 </md-option> -->
        </md-select>
    </div>
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <md-select placeholder="Select Sub-category" [(ngModel)]="addContentRequest.subCategoryId">
            <md-option *ngFor="let  subcate of subCategories"  [value]="subcate._id" > {{subcate.subCategoryName}}</md-option>
      <!--       <md-option value="2"> Sub-category2 </md-option>
            <md-option value="3"> Sub-category3 </md-option>
            <md-option value="4"> Sub-category4 </md-option> -->
        </md-select>
    </div>
    <div class="form-group col-md-3 col-sm-6 col-xs-12">
        <button class="btn custom-btn" (click)="getSuggestedArtical()"> Filter </button>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <md-form-field>
        	<md-icon mdSuffix>mode_edit</md-icon>
            <input mdInput placeholder="Search name of content item" type="text">
        </md-form-field>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="dshbrd-table table-responsive">
                <table class="table view-content-table m-b-0">
                    <tbody>
                        <tr>
                        	<td>
                                <md-checkbox></md-checkbox>
                            </td>
                            <td class="text-left">
                                <div class="cont-img">
                                    <img src="./assets/img/placeholder5.png" class="img-responsive" />
                                </div>
                                <div class="cont-dtl">
                                    <div> Vishwanthan Anand finshes joint eighth in St.Louis Rapid Chess tournament </div>
                                    <div> <strong> Posted by: </strong> Rohan Sen </div>
                                    <div class=""> 
                                        <a href="javascript:;">
                                            News | <span class="dark_ylw">Sports News</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                        	<td>
                                <md-checkbox></md-checkbox>
                            </td>
							<td class="text-left">
                                <div class="cont-img">
                                    <img src="./assets/img/placeholder5.png" class="img-responsive" />
                                </div>
                                <div class="cont-dtl">
                                    <div> Vishwanthan Anand finshes joint eighth in St.Louis Rapid Chess tournament </div>
                                    <div> <strong> Posted by: </strong> Rohan Sen </div>
                                    <div class=""> 
                                        <a href="javascript:;">
                                            News | <span class="dark_ylw">Sports News</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                        	<td>
                                <md-checkbox></md-checkbox>
                            </td>
							<td class="text-left">
                                <div class="cont-img">
                                    <img src="./assets/img/placeholder5.png" class="img-responsive" />
                                </div>
                                <div class="cont-dtl">
                                    <div> Vishwanthan Anand finshes joint eighth in St.Louis Rapid Chess tournament </div>
                                    <div> <strong> Posted by: </strong> Rohan Sen </div>
                                    <div class=""> 
                                        <a href="javascript:;">
                                            News | <span class="dark_ylw">Sports News</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            
                        </tr>
                        
                    </tbody>
                    
                </table>
                
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
	<button class="btn custom-btn"> Save </button>
</div>